In [2]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import requests
import os
import numpy as np

pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 200)

## Load Statistics

In [44]:
standings_df = pd.read_csv('data/outputs/standings.csv')
standings_df.head()

,position,playedGames,form,won,draw,lost,points,goalsFor,goalsAgainst,goalDifference,team_short_name,team_group,competition
0,1,29,NaN,24,2,3,74,66,21,45,Napoli,0,Serie A
1,2,28,NaN,16,7,5,55,44,19,25,Lazio,0,Serie A
2,3,29,NaN,15,7,7,52,48,36,12,Milan,0,Serie A
3,4,29,NaN,16,3,10,51,48,33,15,Inter,0,Serie A
4,5,28,NaN,15,5,8,50,38,26,12,Roma,0,Serie A

In [32]:
matches_df = pd.read_csv('data/outputs/matches.csv')
matches_df.head()

,main_team,opponent_team,goal_fatti,no_goal,goal,tot_goals,goal_subiti,away_home,result,team_has_scored,...,form,won,draw,lost,points,goalsFor,goalsAgainst,goalDifference,team_short_name,team_group
0,Milan,Udinese,4,False,True,6,2,home,Win,True,...,NaN,9,11,8,38,37,34,3,Udinese,1
1,Sampdoria,Atalanta,0,True,False,2,2,home,Loss,False,...,NaN,14,6,8,48,47,32,15,Atalanta,0
2,Lecce,Inter,1,False,True,3,2,home,Loss,True,...,NaN,16,3,10,51,48,33,15,Inter,0
3,Monza,Torino,1,False,True,3,2,home,Loss,True,...,NaN,10,8,10,38,30,34,-4,Torino,1
4,Fiorentina,Cremonese,3,False,True,5,2,home,Win,True,...,NaN,1,10,17,13,23,52,-29,Cremonese,2

In [3]:
win_draw_loss = pd.read_csv('data/outputs/win_draw_loss.csv')
win_draw_loss.head()

,main_team,team_group,competition,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,10,0.100000,0.100000,0.800000,24.0,17.0,104.0,145.0,0.165517,0.117241,0.717241
1,Almeria,1,La Liga,11,0.454545,0.090909,0.454545,47.0,28.0,81.0,156.0,0.301282,0.179487,0.519231
2,Almeria,2,La Liga,6,0.166667,0.666667,0.166667,19.0,62.0,4.0,85.0,0.223529,0.729412,0.047059
3,Almeria,all,La Liga,27,0.259259,0.222222,0.518519,90.0,107.0,189.0,386.0,0.233161,0.277202,0.489637
4,Arsenal,0,Premier League,9,0.666667,0.111111,0.222222,97.0,19.0,18.0,134.0,0.723881,0.141791,0.134328

In [6]:
win_draw_loss_away_home = pd.read_csv('data/outputs/win_draw_loss_away_home.csv')
win_draw_loss_away_home.head()

,main_team,team_group,competition,away_home,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,away,4,0.000000,0.000000,1.000000,0.0,0.0,40.0,40.0,0.000000,0.000000,1.000000
1,Almeria,0,La Liga,home,6,0.166667,0.166667,0.666667,24.0,17.0,64.0,105.0,0.228571,0.161905,0.609524
2,Almeria,1,La Liga,away,5,0.000000,0.200000,0.800000,0.0,28.0,76.0,104.0,0.000000,0.269231,0.730769
3,Almeria,1,La Liga,home,6,0.833333,0.000000,0.166667,47.0,0.0,5.0,52.0,0.903846,0.000000,0.096154
4,Almeria,2,La Liga,away,4,0.000000,0.750000,0.250000,0.0,35.0,4.0,39.0,0.000000,0.897436,0.102564

In [7]:
scored_conceded_goal_group = pd.read_csv('data/outputs/team_scored_conceded_goal_group.csv')
scored_conceded_goal_group.head()

,main_team,team_group,competition,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,10,6,9,84.0,121.0,145.0,0.579310,0.834483,0.900000,0.600000
1,Almeria,1,La Liga,11,8,10,124.0,142.0,156.0,0.794872,0.910256,0.909091,0.727273
2,Almeria,2,La Liga,6,5,6,81.0,85.0,85.0,0.952941,1.000000,1.000000,0.833333
3,Almeria,all,La Liga,27,19,25,289.0,348.0,386.0,0.748705,0.901554,0.925926,0.703704
4,Arsenal,0,Premier League,9,8,7,115.0,95.0,134.0,0.858209,0.708955,0.777778,0.888889

In [8]:
no_goal_group = pd.read_csv('data/outputs/no_goal_group.csv')
no_goal_group.head()

,main_team,team_group,competition,n_matches,no_goal,no_goal_streak_weighted,tot_giornata,no_goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,La Liga,10,5,85.0,145.0,0.586207,0.500000,0.500000
1,Almeria,1,La Liga,11,4,46.0,156.0,0.294872,0.363636,0.636364
2,Almeria,2,La Liga,6,1,4.0,85.0,0.047059,0.166667,0.833333
3,Almeria,all,La Liga,27,10,135.0,386.0,0.349741,0.370370,0.629630
4,Arsenal,0,Premier League,9,2,39.0,134.0,0.291045,0.222222,0.777778

In [9]:
no_goal_group_away_home = pd.read_csv('data/outputs/no_goal_group_away_home.csv')
no_goal_group_away_home.head()

,main_team,team_group,away_home,competition,n_matches,no_goal,no_goal_streak_weighted,tot_giornata,no_goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,away,La Liga,4,2,20.0,40.0,0.500000,0.500000,0.500000
1,Almeria,0,home,La Liga,6,3,65.0,105.0,0.619048,0.500000,0.500000
2,Almeria,1,away,La Liga,5,2,27.0,104.0,0.259615,0.400000,0.600000
3,Almeria,1,home,La Liga,6,2,19.0,52.0,0.365385,0.333333,0.666667
4,Almeria,2,away,La Liga,4,1,4.0,39.0,0.102564,0.250000,0.750000

In [10]:
n_goal_group = pd.read_csv('data/outputs/num_goals_group.csv')
n_goal_group.head()

,main_team,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,0,La Liga,10,0.700000,2.100000
1,Almeria,1,La Liga,11,1.545455,1.727273
2,Almeria,2,La Liga,6,1.333333,1.166667
3,Almeria,all,La Liga,27,1.185185,1.740741
4,Arsenal,0,Premier League,9,2.222222,1.555556

## Exploration

**Teams with highest delta average goals for-against**

In [42]:
dd = n_goal_group[no_goal_group.team_group=='all']
dd['delta_goal'] = dd['avg_goal_fatti'] - dd['avg_goal_subiti']
dd.sort_values('delta_goal', ascending=False)\
    [['main_team','competition','n_matches','avg_goal_fatti','avg_goal_subiti','delta_goal']].head(10)

,main_team,competition,n_matches,avg_goal_fatti,avg_goal_subiti,delta_goal
35,Bayern Munich,Bundesliga,26,2.923077,1.115385,1.807692
31,Barcelona,La Liga,27,1.962963,0.333333,1.629630
183,Man City,Premier League,28,2.535714,0.928571,1.607143
199,Napoli,Serie A,28,2.285714,0.714286,1.571429
7,Arsenal,Premier League,29,2.413793,0.931034,1.482759
219,Real Madrid,La Liga,27,2.111111,0.777778,1.333333
203,Newcastle,Premier League,28,1.642857,0.714286,0.928571
147,Lazio,Serie A,28,1.571429,0.678571,0.892857
23,Ath Madrid,La Liga,27,1.592593,0.703704,0.888889
143,Juventus,Serie A,28,1.642857,0.785714,0.857143

**Teams with highest delta average goals for-against, with top tier teams in their championship**

In [43]:
dd = n_goal_group[no_goal_group.team_group=='0']
dd['delta_goal'] = dd['avg_goal_fatti'] - dd['avg_goal_subiti']
dd.sort_values('delta_goal', ascending=False)\
    [['main_team','competition','n_matches','avg_goal_fatti','avg_goal_subiti','delta_goal']].head(10)

,main_team,competition,n_matches,avg_goal_fatti,avg_goal_subiti,delta_goal
32,Bayern Munich,Bundesliga,10,2.800000,1.000000,1.800000
28,Barcelona,La Liga,9,2.111111,0.666667,1.444444
180,Man City,Premier League,10,2.600000,1.500000,1.100000
4,Arsenal,Premier League,9,2.222222,1.555556,0.666667
200,Newcastle,Premier League,8,1.375000,0.750000,0.625000
144,Lazio,Serie A,9,1.444444,0.888889,0.555556
164,Liverpool,Premier League,11,2.181818,1.636364,0.545455
196,Napoli,Serie A,10,1.600000,1.100000,0.500000
216,Real Madrid,La Liga,9,1.333333,0.888889,0.444444
80,Dortmund,Bundesliga,10,1.900000,1.500000,0.400000

**Teams with highest no_goal percentage of matches**

In [21]:
no_goal_group[no_goal_group.team_group=='all'].sort_values('no_goal_ratio', ascending=False)\
    [['main_team','competition','n_matches','no_goal','no_goal_ratio']].head(10)

      main_team competition  n_matches  no_goal  no_goal_ratio
31    Barcelona     La Liga         27       21       0.777778
143    Juventus     Serie A         28       21       0.750000
147       Lazio     Serie A         28       19       0.678571
179    Mallorca     La Liga         27       18       0.666667
295  Villarreal     La Liga         27       18       0.666667
283  Valladolid     La Liga         27       18       0.666667
231   Sampdoria     Serie A         28       18       0.642857
63        Cadiz     La Liga         27       17       0.629630
19   Ath Bilbao     La Liga         27       17       0.629630
211     Osasuna     La Liga         27       17       0.629630

**Teams with highest pe**

In [23]:
no_goal_group[no_goal_group.team_group=='all'].sort_values('goal_ratio', ascending=False)\
    [['main_team','competition','n_matches','no_goal','goal_ratio']].head(10)

         main_team competition  n_matches  no_goal  goal_ratio
127         Girona     La Liga         27        7    0.740741
99         Espanol     La Liga         27        7    0.740741
35   Bayern Munich  Bundesliga         26        9    0.653846
259      Stuttgart  Bundesliga         26        9    0.653846
87   Ein Frankfurt  Bundesliga         26        9    0.653846
131         Hertha  Bundesliga         26        9    0.653846
135     Hoffenheim  Bundesliga         26        9    0.653846
299  Werder Bremen  Bundesliga         26        9    0.653846
191          Milan     Serie A         28       10    0.642857
243        Sevilla     La Liga         27       10    0.629630

In [30]:
dd = no_goal_group[no_goal_group.team_group=='all']
dd['no_goal_streak_delta'] = (dd['no_goal_streak_weighted_ratio'] - dd['no_goal_ratio'])* 100 / dd['no_goal_ratio']
dd.sort_values('no_goal_streak_delta', ascending=False)\
    [['main_team','competition','n_matches',\
      'no_goal_streak_weighted_ratio','no_goal_streak_delta','no_goal_ratio']].head(10)

,main_team,competition,n_matches,no_goal_streak_weighted_ratio,no_goal_streak_delta,no_goal_ratio
219,Real Madrid,La Liga,27,0.533679,30.993877,0.407407
107,FC Koln,Bundesliga,26,0.632479,26.495726,0.500000
119,Fulham,Premier League,28,0.493857,25.709180,0.392857
151,Lecce,Serie A,28,0.571429,23.076923,0.464286
199,Napoli,Serie A,28,0.729064,20.081136,0.607143
139,Inter,Serie A,28,0.598522,19.704433,0.500000
167,Liverpool,Premier League,28,0.632558,18.077519,0.535714
47,Bologna,Serie A,28,0.504926,17.816092,0.428571
187,Man United,Premier League,28,0.628993,17.411957,0.535714
243,Sevilla,La Liga,27,0.432642,16.813472,0.370370

In [46]:
matches_df[(matches_df.main_team=='Bayern Munich')&\
            (matches_df.team_group==0)].sort_values('giornata')\
        [['main_team','opponent_team','away_home','no_goal','goal_fatti','goal_subiti','giornata','team_group']]

,main_team,opponent_team,away_home,no_goal,goal_fatti,goal_subiti,giornata,team_group
794,Bayern Munich,Ein Frankfurt,away,False,6,1,1.0,0
834,Bayern Munich,Union Berlin,away,False,1,1,5.0,0
623,Bayern Munich,Leverkusen,home,True,4,0,8.0,0
871,Bayern Munich,Dortmund,away,False,2,2,9.0,0
649,Bayern Munich,Freiburg,home,True,5,0,10.0,0
929,Bayern Munich,RB Leipzig,away,False,1,1,16.0,0
719,Bayern Munich,Ein Frankfurt,home,False,1,1,18.0,0
757,Bayern Munich,Union Berlin,home,True,3,0,22.0,0
1017,Bayern Munich,Leverkusen,away,False,1,2,25.0,0
791,Bayern Munich,Dortmund,home,False,4,2,26.0,0