In [475]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import requests
import os
import numpy as np
from math import floor

pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 200)

## Load Statistics

In [476]:
standings_df = pd.read_csv('../data/outputs/standings.csv')
standings_df.head(2)

,position,playedGames,form,won,draw,lost,points,goalsFor,goalsAgainst,goalDifference,team_short_name,team_group,competition
0,1,30,NaN,24,3,3,75,66,21,45,Napoli,0,Serie A
1,2,30,NaN,18,7,5,61,49,20,29,Lazio,0,Serie A

In [477]:
win_draw_loss = pd.read_csv('../data/outputs/win_draw_loss.csv')
win_draw_loss.head(2)

,main_team,team_group,competition,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,10,0.100000,0.10,0.800000,24.0,17.0,104.0,145.0,0.165517,0.117241,0.717241
1,Almeria,1,La Liga,12,0.333333,0.25,0.416667,33.0,70.0,81.0,184.0,0.179348,0.380435,0.440217

In [478]:
win_draw_loss_away_home = pd.read_csv('../data/outputs/win_draw_loss_away_home.csv')
win_draw_loss_away_home.head(2)

,main_team,team_group,competition,away_home,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,away,4,0.000000,0.000000,1.000000,0.0,0.0,40.0,40.0,0.000000,0.000000,1.000000
1,Almeria,0,La Liga,home,6,0.166667,0.166667,0.666667,24.0,17.0,64.0,105.0,0.228571,0.161905,0.609524

In [479]:
scored_conceded_goal_group_away_home= pd.read_csv('../data/outputs/team_scored_conceded_goal_group_away_home.csv')
scored_conceded_goal_group_away_home.head(2)

,main_team,team_group,competition,away_home,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,away,4,2,4,20.0,40.0,40.0,0.500000,1.000000,1.000000,0.500000
1,Almeria,0,La Liga,home,6,4,5,64.0,81.0,105.0,0.609524,0.771429,0.833333,0.666667

In [480]:
scored_conceded_goal_group = pd.read_csv('../data/outputs/team_scored_conceded_goal_group.csv')
scored_conceded_goal_group.head(2)

,main_team,team_group,competition,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,10,6,9,84.0,121.0,145.0,0.579310,0.834483,0.9,0.60
1,Almeria,1,La Liga,12,9,12,152.0,184.0,184.0,0.826087,1.000000,1.0,0.75

In [481]:
no_goal_group = pd.read_csv('../data/outputs/no_goal_group.csv')
no_goal_group.head(2)

,main_team,team_group,competition,n_matches,no_goal,no_goal_streak_weighted,goal_streak_weighted,tot_giornata,no_goal_streak_weighted_ratio,goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,La Liga,10,5,85.0,60.0,145.0,0.586207,0.413793,0.500000,0.500000
1,Almeria,1,La Liga,11,4,36.0,110.0,146.0,0.246575,0.753425,0.363636,0.636364

In [482]:
no_goal_group_away_home = pd.read_csv('../data/outputs/no_goal_group_away_home.csv')
no_goal_group_away_home.head(2)

,main_team,team_group,away_home,competition,n_matches,no_goal,goal_streak_weighted,no_goal_streak_weighted,tot_giornata,goal_streak_weighted_ratio,no_goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,away,La Liga,4,2,20.0,20.0,40.0,0.500000,0.500000,0.5,0.5
1,Almeria,0,home,La Liga,6,3,40.0,65.0,105.0,0.380952,0.619048,0.5,0.5

In [483]:
n_goal_group = pd.read_csv('../data/outputs/num_goals_group.csv')
n_goal_group.head(2)

  main_team team_group competition  n_matches  avg_goal_fatti  avg_goal_subiti
0   Almeria          0     La Liga         10             0.7             2.10
1   Almeria          1     La Liga         12             1.5             1.75

In [484]:
n_goal_group_away_home = pd.read_csv('../data/outputs/n_goal_group_away_home.csv')
n_goal_group_away_home.head(2)

,main_team,away_home,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,away,0,La Liga,4,0.500000,2.750000
1,Almeria,away,1,La Liga,6,0.833333,2.333333

In [485]:
n_goal_group_last_matches = pd.read_csv('../data/outputs/n_goal_group_last_matches.csv')
n_goal_group_last_matches.head(2)

,main_team,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti,n_last_matches
0,Almeria,0,La Liga,3,1.00,1.666667,10
1,Almeria,1,La Liga,4,1.25,3.000000,10

### Next Matches

In [486]:
next_matches = pd.DataFrame([\
    ["Bundesliga","RB Leipzig","Augsburg"],
    ["Bundesliga","Schalke 04","Hertha"],
    ["Bundesliga","FC Koln","Mainz"],
    ["Bundesliga","Stuttgart","Dortmund"],
    ["Bundesliga","Bayern Munich","Hoffenheim"],
    ["Bundesliga","Ein Frankfurt","M'gladbach"],
    ["Bundesliga","Werder Bremen","Freiburg"],
    ["Bundesliga","Union Berlin","Bochum"],
    ["Bundesliga","Wolfsburg","Leverkusen"],
    ["La Liga","Vallecano","Osasuna"],
    ["La Liga","Villarreal","Valladolid"],
    ["La Liga","Ath Bilbao","Sociedad"],
    ["La Liga","Betis","Espanol"],
    ["La Liga","Cadiz","Real Madrid"],
    ["La Liga","Girona","Elche"],
    ["La Liga","Getafe","Barcelona"],
    ["La Liga","Valencia","Sevilla"],
    ["La Liga","Ath Madrid","Almeria"],
    ["La Liga","Celta","Mallorca"],
    ["Premier League","Aston Villa","Newcastle"],
    ["Premier League","Chelsea","Brighton"],
    ["Premier League","Everton","Fulham"],
    ["Premier League","Southampton","Crystal Palace"],
    ["Premier League","Tottenham","Bournemouth"],
    ["Premier League","Wolves","Brentford"],
    ["Premier League","Man City","Leicester"],
    ["Premier League","West Ham","Arsenal"],
    ["Premier League","Nott'm Forest","Man United"],
    ["Premier League","Leeds","Liverpool"]],\
    columns=['competition','home_team','away_team'])

#### Check names are spelled correctly

In [487]:
dd = next_matches.merge(standings_df, left_on='home_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['home_team'])==0, dd[dd.position.isna()]['home_team']

In [488]:
dd = next_matches.merge(standings_df, left_on='away_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['away_team']) == 0, dd[dd.position.isna()]['away_team']

#### Assign team groups

In [489]:
next_matches_with_group = next_matches.merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','home_team'],\
                   right_on=['competition','team_short_name'], how='left')\
            .merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','away_team'],\
                   right_on=['competition','team_short_name'], how='left', suffixes=['_home','_away'])\
            [['competition','home_team','away_team','team_group_home','team_group_away']]
next_matches_with_group['team_group_home'] = next_matches_with_group['team_group_home'].astype(str)
next_matches_with_group['team_group_away'] = next_matches_with_group['team_group_away'].astype(str)

### NoGoal/Goal Overall

In [490]:
nggall = no_goal_group[no_goal_group.team_group=='all']

In [491]:
nggall.columns

Index(['main_team', 'team_group', 'competition', 'n_matches', 'no_goal',
       'no_goal_streak_weighted', 'goal_streak_weighted', 'tot_giornata',
       'no_goal_streak_weighted_ratio', 'goal_streak_weighted_ratio',
       'no_goal_ratio', 'goal_ratio'],
      dtype='object')

In [492]:
dd1 = next_matches.merge(nggall, left_on=['competition','home_team'], right_on=['competition','main_team'])
dd1 = dd1.merge(nggall, left_on=['competition','away_team'], right_on=['competition','main_team'], suffixes=['_home','_away'])
dd1['no_goal_streak_weighted_ratio'] = dd1['no_goal_streak_weighted_ratio_home'] * dd1['no_goal_streak_weighted_ratio_away']
dd1['goal_streak_weighted_ratio'] = dd1['goal_streak_weighted_ratio_home'] * dd1['goal_streak_weighted_ratio_away']
dd1['no_goal_ratio'] = dd1['no_goal_ratio_home'] * dd1['no_goal_ratio_away']

#### NoGoal

In [493]:
dd1[['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio']].sort_values('no_goal_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio
15,La Liga,Getafe,Barcelona,0.535714,0.785714,0.420918
10,La Liga,Villarreal,Valladolid,0.642857,0.642857,0.413265
11,La Liga,Ath Bilbao,Sociedad,0.607143,0.571429,0.346939
27,Premier League,Nott'm Forest,Man United,0.566667,0.551724,0.312644
18,La Liga,Celta,Mallorca,0.464286,0.642857,0.298469
9,La Liga,Vallecano,Osasuna,0.464286,0.607143,0.281888
23,Premier League,Tottenham,Bournemouth,0.433333,0.633333,0.274444
26,Premier League,West Ham,Arsenal,0.620690,0.433333,0.268966
7,Bundesliga,Union Berlin,Bochum,0.481481,0.555556,0.267490
24,Premier League,Wolves,Brentford,0.600000,0.433333,0.260000

#### NoGoal Streak Weighted

In [494]:
dd1[['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio']].sort_values('no_goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio
15,La Liga,Getafe,Barcelona,0.542169,0.791866,0.429325
11,La Liga,Ath Bilbao,Sociedad,0.561446,0.643373,0.361219
27,Premier League,Nott'm Forest,Man United,0.523605,0.655251,0.343093
10,La Liga,Villarreal,Valladolid,0.546988,0.597590,0.326875
21,Premier League,Everton,Fulham,0.592275,0.529680,0.313716
13,La Liga,Cadiz,Real Madrid,0.614458,0.496386,0.305008
18,La Liga,Celta,Mallorca,0.462651,0.653012,0.302116
9,La Liga,Vallecano,Osasuna,0.460241,0.638554,0.293889
7,Bundesliga,Union Berlin,Bochum,0.502646,0.584656,0.293875
22,Premier League,Southampton,Crystal Palace,0.545064,0.519313,0.283059

#### Goal Streak Weighted

In [495]:
dd1[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
4,Bundesliga,Bayern Munich,Hoffenheim,0.669312,0.648148,0.433813
3,Bundesliga,Stuttgart,Dortmund,0.648148,0.653439,0.423525
6,Bundesliga,Werder Bremen,Freiburg,0.666667,0.592593,0.395062
12,La Liga,Betis,Espanol,0.471292,0.807229,0.380440
0,Bundesliga,RB Leipzig,Augsburg,0.513228,0.690476,0.354371
5,Bundesliga,Ein Frankfurt,M'gladbach,0.658730,0.526455,0.346792
14,La Liga,Girona,Elche,0.665060,0.491566,0.326921
17,La Liga,Ath Madrid,Almeria,0.445783,0.674699,0.300769
25,Premier League,Man City,Leicester,0.621005,0.448498,0.278519
8,Bundesliga,Wolfsburg,Leverkusen,0.447090,0.616402,0.275587

### NoGoal/Goal Group

In [496]:
dd2 = next_matches_with_group.merge(no_goal_group,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(no_goal_group,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['no_goal_streak_weighted_ratio'] = dd2['no_goal_streak_weighted_ratio_home'] * dd2['no_goal_streak_weighted_ratio_away']
dd2['goal_streak_weighted_ratio'] = dd2['goal_streak_weighted_ratio_home'] * dd2['goal_streak_weighted_ratio_away']
dd2['no_goal_ratio'] = dd2['no_goal_ratio_home'] * dd2['no_goal_ratio_away']

#### No Goal Home/Away

In [497]:
dd2[(dd2['n_matches_home'] > 6)&(dd2['n_matches_away']>6)]\
    [['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio','n_matches_home','n_matches_away']]\
    .sort_values('no_goal_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio,n_matches_home,n_matches_away
15,La Liga,Getafe,Barcelona,0.636364,0.900000,0.572727,11,10
10,La Liga,Villarreal,Valladolid,0.666667,0.818182,0.545455,9,11
27,Premier League,Nott'm Forest,Man United,0.636364,0.800000,0.509091,11,10
11,La Liga,Ath Bilbao,Sociedad,0.875000,0.571429,0.500000,8,7
7,Bundesliga,Union Berlin,Bochum,0.571429,0.818182,0.467532,7,11
18,La Liga,Celta,Mallorca,0.600000,0.777778,0.466667,10,9
13,La Liga,Cadiz,Real Madrid,0.727273,0.500000,0.363636,11,8
21,Premier League,Everton,Fulham,0.700000,0.500000,0.350000,10,8
20,Premier League,Chelsea,Brighton,0.666667,0.500000,0.333333,9,12
26,Premier League,West Ham,Arsenal,0.545455,0.555556,0.303030,11,9

#### NoGoal Streak Weighted

In [498]:
dd2[(dd2['n_matches_home'] > 6)&(dd2['n_matches_away']>6)]\
    [['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio','n_matches_home','n_matches_away']]\
    .sort_values('no_goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio,n_matches_home,n_matches_away
11,La Liga,Ath Bilbao,Sociedad,0.870229,0.744444,0.647837,8,7
7,Bundesliga,Union Berlin,Bochum,0.822222,0.764331,0.628450,7,11
15,La Liga,Getafe,Barcelona,0.638554,0.911243,0.581878,11,10
18,La Liga,Celta,Mallorca,0.621469,0.773973,0.481000,10,9
10,La Liga,Villarreal,Valladolid,0.654135,0.704142,0.460604,9,11
27,Premier League,Nott'm Forest,Man United,0.485549,0.889571,0.431930,11,10
21,Premier League,Everton,Fulham,0.671141,0.639706,0.429333,10,8
20,Premier League,Chelsea,Brighton,0.798611,0.491979,0.392900,9,12
13,La Liga,Cadiz,Real Madrid,0.686667,0.564356,0.387525,11,8
9,La Liga,Vallecano,Osasuna,0.510638,0.662420,0.338257,9,10

#### Goal Streak Weighted

In [499]:
dd2[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio','n_matches_home','n_matches_away']]\
    .sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio,n_matches_home,n_matches_away
1,Bundesliga,Schalke 04,Hertha,0.656716,1.000000,0.656716,5,3
4,Bundesliga,Bayern Munich,Hoffenheim,0.847328,0.644444,0.546056,10,10
14,La Liga,Girona,Elche,0.742690,0.657143,0.488053,11,10
8,Bundesliga,Wolfsburg,Leverkusen,0.523810,0.815603,0.427221,11,11
25,Premier League,Man City,Leicester,0.750000,0.511494,0.383621,8,12
5,Bundesliga,Ein Frankfurt,M'gladbach,0.638462,0.568345,0.362867,10,10
3,Bundesliga,Stuttgart,Dortmund,0.607362,0.562500,0.341641,12,6
28,Premier League,Leeds,Liverpool,0.702381,0.470588,0.330532,11,7
6,Bundesliga,Werder Bremen,Freiburg,0.617647,0.493421,0.304760,10,11
12,La Liga,Betis,Espanol,0.376712,0.760000,0.286301,9,10

##### Only for more than 5 matches

In [500]:
dd3 = dd2[(dd2['n_matches_home'] > 5)&(dd2['n_matches_away'] > 5)]
dd3[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
4,Bundesliga,Bayern Munich,Hoffenheim,0.847328,0.644444,0.546056
14,La Liga,Girona,Elche,0.742690,0.657143,0.488053
8,Bundesliga,Wolfsburg,Leverkusen,0.523810,0.815603,0.427221
25,Premier League,Man City,Leicester,0.750000,0.511494,0.383621
5,Bundesliga,Ein Frankfurt,M'gladbach,0.638462,0.568345,0.362867
3,Bundesliga,Stuttgart,Dortmund,0.607362,0.562500,0.341641
28,Premier League,Leeds,Liverpool,0.702381,0.470588,0.330532
6,Bundesliga,Werder Bremen,Freiburg,0.617647,0.493421,0.304760
12,La Liga,Betis,Espanol,0.376712,0.760000,0.286301
0,Bundesliga,RB Leipzig,Augsburg,0.331126,0.784000,0.259603

### N Goals

In [501]:
n_goal_group

,main_team,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,0,La Liga,10,0.700000,2.100000
1,Almeria,1,La Liga,12,1.500000,1.750000
2,Almeria,2,La Liga,6,1.500000,1.000000
3,Almeria,all,La Liga,28,1.214286,1.714286
4,Arsenal,0,Premier League,9,2.222222,1.555556
...,...,...,...,...,...,...
307,Wolfsburg,all,Bundesliga,27,1.703704,1.333333
308,Wolves,0,Premier League,10,0.600000,1.700000
309,Wolves,1,Premier League,10,0.800000,1.100000
310,Wolves,2,Premier League,10,1.000000,1.400000
311,Wolves,all,Premier League,30,0.800000,1.400000

#### Group

In [502]:
dd2 = next_matches_with_group.merge(n_goal_group,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(n_goal_group,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['avg_goal_fatti_tot'] = dd2['avg_goal_fatti_home'] + dd2['avg_goal_fatti_away']
dd2['avg_goal_subiti_tot'] = dd2['avg_goal_subiti_home'] + dd2['avg_goal_subiti_away']
dd2['min_fatti_subiti_tot'] = \
            dd2.apply(lambda row: floor(min(row['avg_goal_fatti_tot'],row['avg_goal_subiti_tot'])), axis=1)

In [503]:
dd2[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values('min_fatti_subiti_tot', ascending=False).head(10)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
0,Bundesliga,RB Leipzig,Augsburg,3.427273,3.672727,3,11,10
2,Bundesliga,FC Koln,Mainz,4.322222,3.211111,3,9,10
4,Bundesliga,Bayern Munich,Hoffenheim,3.800000,3.300000,3,10,10
5,Bundesliga,Ein Frankfurt,M'gladbach,3.400000,3.100000,3,10,10
25,Premier League,Man City,Leicester,4.527778,3.138889,3,9,12
8,Bundesliga,Wolfsburg,Leverkusen,3.272727,3.272727,3,11,11
1,Bundesliga,Schalke 04,Hertha,3.133333,3.000000,3,5,3
17,La Liga,Ath Madrid,Almeria,2.575000,2.475000,2,8,10
27,Premier League,Nott'm Forest,Man United,2.263636,2.754545,2,11,10
26,Premier League,West Ham,Arsenal,3.145455,2.700000,2,11,10

#### Group - Home/Away

In [504]:
n_goal_group_away_home.head(1)

,main_team,away_home,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,away,0,La Liga,4,0.5,2.75

In [505]:
dd2 = next_matches_with_group.merge(n_goal_group_away_home[n_goal_group_away_home.away_home=='home'],\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(n_goal_group_away_home[n_goal_group_away_home.away_home=='away'],\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['avg_goal_fatti_tot'] = dd2['avg_goal_fatti_home'] + dd2['avg_goal_fatti_away']
dd2['avg_goal_subiti_tot'] = dd2['avg_goal_subiti_home'] + dd2['avg_goal_subiti_away']
dd2['min_fatti_subiti_tot'] = \
            dd2.apply(lambda row: floor(min(row['avg_goal_fatti_tot'],row['avg_goal_subiti_tot'])), axis=1)

In [506]:
dd2 = dd2[dd2.min_fatti_subiti_tot >= 2]
dd2[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_tot','avg_goal_subiti_tot','avg_goal_fatti_tot'], ascending=False).head(100)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
25,Premier League,Man City,Leicester,5.666667,4.333333,4,3,5
0,Bundesliga,RB Leipzig,Augsburg,3.950000,4.250000,3,4,5
1,Bundesliga,Schalke 04,Hertha,3.500000,3.500000,3,2,2
4,Bundesliga,Bayern Munich,Hoffenheim,4.900000,3.333333,3,6,5
6,Bundesliga,Werder Bremen,Freiburg,2.400000,4.000000,2,5,5
17,La Liga,Ath Madrid,Almeria,2.250000,3.250000,2,4,4
23,Premier League,Tottenham,Bournemouth,2.000000,3.250000,2,4,6
20,Premier League,Chelsea,Brighton,2.266667,3.066667,2,5,6
22,Premier League,Southampton,Crystal Palace,2.400000,2.866667,2,3,5
8,Bundesliga,Wolfsburg,Leverkusen,4.500000,2.833333,2,6,6
14,La Liga,Girona,Elche,3.400000,2.800000,2,5,5
7,Bundesliga,Union Berlin,Bochum,2.166667,2.666667,2,3,6
19,Premier League,Aston Villa,Newcastle,2.400000,2.600000,2,3,5
3,Bundesliga,Stuttgart,Dortmund,2.100000,2.600000,2,5,2
5,Bundesliga,Ein Frankfurt,M'gladbach,2.250000,2.500000,2,4,4
28,Premier League,Leeds,Liverpool,2.000000,2.500000,2,6,2
2,Bundesliga,FC Koln,Mainz,3.700000,2.450000,2,5,4
12,La Liga,Betis,Espanol,3.000000,2.400000,2,3,5
21,Premier League,Everton,Fulham,3.000000,2.350000,2,5,4
13,La Liga,Cadiz,Real Madrid,2.750000,2.333333,2,6,4
18,La Liga,Celta,Mallorca,3.250000,2.250000,2,4,4
16,La Liga,Valencia,Sevilla,2.900000,2.100000,2,5,4

##### At least 5 matches

In [507]:
n_matches = 4

In [508]:
dd3 = dd2[(dd2.n_matches_home>n_matches)&(dd2.n_matches_away>n_matches)]
dd3 = dd3[dd3.min_fatti_subiti_tot >= 2]
dd3[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_tot','avg_goal_subiti_tot','avg_goal_fatti_tot'], ascending=False).head(100)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
4,Bundesliga,Bayern Munich,Hoffenheim,4.900000,3.333333,3,6,5
6,Bundesliga,Werder Bremen,Freiburg,2.400000,4.000000,2,5,5
20,Premier League,Chelsea,Brighton,2.266667,3.066667,2,5,6
8,Bundesliga,Wolfsburg,Leverkusen,4.500000,2.833333,2,6,6
14,La Liga,Girona,Elche,3.400000,2.800000,2,5,5

####Last Matches

##### Group

In [509]:
dd2 = next_matches_with_group.merge(n_goal_group_last_matches,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(n_goal_group_last_matches,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['avg_goal_fatti_tot'] = dd2['avg_goal_fatti_home'] + dd2['avg_goal_fatti_away']
dd2['avg_goal_subiti_tot'] = dd2['avg_goal_subiti_home'] + dd2['avg_goal_subiti_away']
dd2['min_fatti_subiti_tot'] = \
            dd2.apply(lambda row: floor(min(row['avg_goal_fatti_tot'],row['avg_goal_subiti_tot'])), axis=1)

In [510]:
dd2 = dd2[dd2.min_fatti_subiti_tot >= 2]
dd2[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_tot','avg_goal_subiti_tot','avg_goal_fatti_tot'], ascending=False).head(100)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
3,Bundesliga,Bayern Munich,Hoffenheim,4.333333,4.666667,4,3,3
9,La Liga,Villarreal,Valladolid,3.250000,4.750000,3,2,4
11,La Liga,Betis,Espanol,3.333333,4.666667,3,3,3
7,Bundesliga,Wolfsburg,Leverkusen,3.250000,4.250000,3,4,4
2,Bundesliga,Stuttgart,Dortmund,3.800000,3.500000,3,5,2
25,Premier League,West Ham,Arsenal,3.000000,3.500000,3,4,2
0,Bundesliga,RB Leipzig,Augsburg,3.166667,3.416667,3,4,3
18,Premier League,Aston Villa,Newcastle,2.500000,4.500000,2,2,2
4,Bundesliga,Ein Frankfurt,M'gladbach,2.333333,3.333333,2,3,3
22,Premier League,Tottenham,Bournemouth,2.000000,3.250000,2,2,4
5,Bundesliga,Werder Bremen,Freiburg,2.166667,3.083333,2,3,4
24,Premier League,Man City,Leicester,3.833333,2.666667,2,2,3
27,Premier League,Leeds,Liverpool,3.666667,2.666667,2,3,1
13,La Liga,Girona,Elche,3.200000,2.600000,2,5,3
16,La Liga,Ath Madrid,Almeria,3.000000,2.166667,2,2,3
17,La Liga,Celta,Mallorca,3.000000,2.166667,2,4,3
23,Premier League,Wolves,Brentford,2.666667,2.166667,2,3,2
21,Premier League,Southampton,Crystal Palace,4.500000,2.000000,2,2,2
12,La Liga,Cadiz,Real Madrid,4.250000,2.000000,2,4,2
26,Premier League,Nott'm Forest,Man United,2.500000,2.000000,2,4,4

##### Overall

In [511]:
dd2 = next_matches_with_group.merge(n_goal_group_last_matches[n_goal_group_last_matches.team_group=='all'],\
                    left_on=['competition','home_team'],
                    right_on=['competition','main_team']).drop(columns=['team_group'])\
                        .merge(n_goal_group_last_matches[n_goal_group_last_matches.team_group=='all'],\
                    left_on=['competition','away_team'],
                    right_on=['competition','main_team'], suffixes=['_home','_away'])
dd2['avg_goal_fatti_tot'] = dd2['avg_goal_fatti_home'] + dd2['avg_goal_fatti_away']
dd2['avg_goal_subiti_tot'] = dd2['avg_goal_subiti_home'] + dd2['avg_goal_subiti_away']
dd2['min_fatti_subiti_tot'] = \
            dd2.apply(lambda row: floor(min(row['avg_goal_fatti_tot'],row['avg_goal_subiti_tot'])), axis=1)

In [512]:
dd2 = dd2[dd2.min_fatti_subiti_tot >= 2]
dd2[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_tot','avg_goal_subiti_tot','avg_goal_fatti_tot'], ascending=False).head(100)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
4,Bundesliga,Bayern Munich,Hoffenheim,3.800000,3.300000,3,10,10
10,La Liga,Villarreal,Valladolid,2.777778,3.444444,2,9,9
14,La Liga,Girona,Elche,2.666667,3.444444,2,9,9
12,La Liga,Betis,Espanol,2.622222,3.388889,2,10,9
5,Bundesliga,Ein Frankfurt,M'gladbach,2.400000,3.100000,2,10,10
28,Premier League,Leeds,Liverpool,2.875000,3.000000,2,8,8
0,Bundesliga,RB Leipzig,Augsburg,2.600000,3.000000,2,10,10
8,Bundesliga,Wolfsburg,Leverkusen,3.200000,2.900000,2,10,10
7,Bundesliga,Union Berlin,Bochum,2.600000,2.900000,2,10,10
23,Premier League,Tottenham,Bournemouth,2.875000,2.875000,2,8,8
3,Bundesliga,Stuttgart,Dortmund,3.900000,2.800000,2,10,10
6,Bundesliga,Werder Bremen,Freiburg,2.800000,2.800000,2,10,10
26,Premier League,West Ham,Arsenal,3.875000,2.750000,2,8,8
24,Premier League,Wolves,Brentford,2.375000,2.750000,2,8,8
22,Premier League,Southampton,Crystal Palace,2.125000,2.625000,2,8,8
20,Premier League,Chelsea,Brighton,2.611111,2.611111,2,9,6
17,La Liga,Ath Madrid,Almeria,3.111111,2.555556,2,9,9
2,Bundesliga,FC Koln,Mainz,3.100000,2.500000,2,10,10
18,La Liga,Celta,Mallorca,3.111111,2.444444,2,9,9
25,Premier League,Man City,Leicester,3.589286,2.339286,2,7,8
19,Premier League,Aston Villa,Newcastle,3.500000,2.125000,2,8,8
13,La Liga,Cadiz,Real Madrid,3.111111,2.111111,2,9,9