In [368]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import requests
import os
import numpy as np

pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 200)

## Load Statistics

In [369]:
standings_df = pd.read_csv('../data/outputs/standings.csv')
standings_df.head(2)

,position,playedGames,form,won,draw,lost,points,goalsFor,goalsAgainst,goalDifference,team_short_name,team_group,competition
0,1,29,NaN,24,2,3,74,66,21,45,Napoli,0,Serie A
1,2,29,NaN,17,7,5,58,46,20,26,Lazio,0,Serie A

In [370]:
win_draw_loss = pd.read_csv('../data/outputs/win_draw_loss.csv')
win_draw_loss.head(2)

,main_team,team_group,competition,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,10,0.100000,0.10,0.800000,24.0,17.0,104.0,145.0,0.165517,0.117241,0.717241
1,Almeria,1,La Liga,12,0.333333,0.25,0.416667,33.0,70.0,81.0,184.0,0.179348,0.380435,0.440217

In [371]:
win_draw_loss_away_home = pd.read_csv('../data/outputs/win_draw_loss_away_home.csv')
win_draw_loss_away_home.head(2)

,main_team,team_group,competition,away_home,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,away,4,0.000000,0.000000,1.000000,0.0,0.0,40.0,40.0,0.000000,0.000000,1.000000
1,Almeria,0,La Liga,home,6,0.166667,0.166667,0.666667,24.0,17.0,64.0,105.0,0.228571,0.161905,0.609524

In [372]:
scored_conceded_goal_group_away_home= pd.read_csv('../data/outputs/team_scored_conceded_goal_group_away_home.csv')
scored_conceded_goal_group_away_home.head(2)

,main_team,team_group,competition,away_home,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,away,4,2,4,20.0,40.0,40.0,0.500000,1.000000,1.000000,0.500000
1,Almeria,0,La Liga,home,6,4,5,64.0,81.0,105.0,0.609524,0.771429,0.833333,0.666667

In [373]:
scored_conceded_goal_group = pd.read_csv('../data/outputs/team_scored_conceded_goal_group.csv')
scored_conceded_goal_group.head(2)

,main_team,team_group,competition,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,10,6,9,84.0,121.0,145.0,0.579310,0.834483,0.9,0.60
1,Almeria,1,La Liga,12,9,12,152.0,184.0,184.0,0.826087,1.000000,1.0,0.75

In [374]:
no_goal_group = pd.read_csv('../data/outputs/no_goal_group.csv')
no_goal_group.head(2)

,main_team,team_group,competition,n_matches,no_goal,no_goal_streak_weighted,goal_streak_weighted,tot_giornata,no_goal_streak_weighted_ratio,goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,La Liga,10,5,85.0,60.0,145.0,0.586207,0.413793,0.50,0.50
1,Almeria,1,La Liga,12,3,32.0,152.0,184.0,0.173913,0.826087,0.25,0.75

In [375]:
no_goal_group_away_home = pd.read_csv('../data/outputs/no_goal_group_away_home.csv')
no_goal_group_away_home.head(2)

,main_team,team_group,away_home,competition,n_matches,no_goal,goal_streak_weighted,no_goal_streak_weighted,tot_giornata,goal_streak_weighted_ratio,no_goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,away,La Liga,4,2,20.0,20.0,40.0,0.500000,0.500000,0.5,0.5
1,Almeria,0,home,La Liga,6,3,40.0,65.0,105.0,0.380952,0.619048,0.5,0.5

In [376]:
n_goal_group = pd.read_csv('../data/outputs/num_goals_group.csv')
n_goal_group.head(2)

  main_team team_group competition  n_matches  avg_goal_fatti  avg_goal_subiti
0   Almeria          0     La Liga         10             0.7             2.10
1   Almeria          1     La Liga         12             1.5             1.75

In [392]:
n_goal_group_away_home = pd.read_csv('../data/outputs/n_goal_group_away_home.csv')
n_goal_group_away_home.head(2)

,main_team,away_home,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,away,0,La Liga,4,0.500000,2.750000
1,Almeria,away,1,La Liga,6,0.833333,2.333333

### Next Matches

In [377]:
next_matches = pd.DataFrame([
    ["Bundesliga","Augsburg","Stuttgart"],
    ["Bundesliga","Hoffenheim","FC Koln"],
    ["Bundesliga","Bochum","Wolfsburg"],
    ["Bundesliga","Hertha","Werder Bremen"],
    ["Bundesliga","Mainz","Bayern Munich"],
    ["Bundesliga","Dortmund","Ein Frankfurt"],
    ["Bundesliga","Freiburg","Schalke 04"],
    ["Bundesliga","Leverkusen","RB Leipzig"],
    ["Bundesliga","M'gladbach","Union Berlin"],
    ["La Liga","Espanol","Cadiz"],
    ["La Liga","Osasuna","Betis"],
    ["La Liga", "Almeria", "Ath Bilbao"],
    ["La Liga","Sociedad","Vallecano"],
    ["La Liga","Valladolid","Girona"],
    ["La Liga","Real Madrid","Celta"],
    ["La Liga","Elche","Valencia"],
    ["La Liga","Barcelona","Ath Madrid"],
    ["La Liga","Mallorca","Getafe"],
    ["La Liga","Sevilla","Villarreal"],
    ["Premier League","Arsenal","Southampton"],
    ["Premier League","Fulham","Leeds"],
    ["Premier League","Crystal Palace","Everton"],
    ["Premier League","Southampton","Crystal Palace"],
    ["Premier League","Liverpool","Nott'm Forest"],
    ["Premier League","Brentford","Aston Villa"],
    ["Premier League","Leicester","Wolves"],
    ["Premier League","Newcastle","Tottenham"],
    ["Premier League","Bournemouth","West Ham"],
    ["Serie A","Verona","Bologna"],
    ["Serie A","Salernitana","Sassuolo"],
    ["Serie A","Lazio","Torino"],
    ["Serie A","Sampdoria","Spezia"],
    ["Serie A","Empoli","Inter"],
    ["Serie A","Monza","Fiorentina"],
    ["Serie A","Udinese","Cremonese"],
    ["Serie A","Milan","Lecce"],
    ["Serie A","Juventus","Napoli"],
    ["Serie A","Atalanta","Roma"]],\
    columns=['competition','home_team','away_team'])

#### Check names are spelled correctly

In [378]:
dd = next_matches.merge(standings_df, left_on='home_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['home_team'])==0, dd[dd.position.isna()]['home_team']

In [379]:
dd = next_matches.merge(standings_df, left_on='away_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['away_team']) == 0, dd[dd.position.isna()]['away_team']

#### Assign team groups

In [380]:
next_matches_with_group = next_matches.merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','home_team'],\
                   right_on=['competition','team_short_name'], how='left')\
            .merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','away_team'],\
                   right_on=['competition','team_short_name'], how='left', suffixes=['_home','_away'])\
            [['competition','home_team','away_team','team_group_home','team_group_away']]
next_matches_with_group['team_group_home'] = next_matches_with_group['team_group_home'].astype(str)
next_matches_with_group['team_group_away'] = next_matches_with_group['team_group_away'].astype(str)

### NoGoal/Goal Overall

In [381]:
nggall = no_goal_group[no_goal_group.team_group=='all']

In [382]:
nggall.columns

Index(['main_team', 'team_group', 'competition', 'n_matches', 'no_goal',
       'no_goal_streak_weighted', 'goal_streak_weighted', 'tot_giornata',
       'no_goal_streak_weighted_ratio', 'goal_streak_weighted_ratio',
       'no_goal_ratio', 'goal_ratio'],
      dtype='object')

In [383]:
dd1 = next_matches.merge(nggall, left_on=['competition','home_team'], right_on=['competition','main_team'])
dd1 = dd1.merge(nggall, left_on=['competition','away_team'], right_on=['competition','main_team'], suffixes=['_home','_away'])
dd1['no_goal_streak_weighted_ratio'] = dd1['no_goal_streak_weighted_ratio_home'] * dd1['no_goal_streak_weighted_ratio_away']
dd1['goal_streak_weighted_ratio'] = dd1['goal_streak_weighted_ratio_home'] * dd1['goal_streak_weighted_ratio_away']
dd1['no_goal_ratio'] = dd1['no_goal_ratio_home'] * dd1['no_goal_ratio_away']

#### NoGoal

In [384]:
dd1[['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio']].sort_values('no_goal_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio
36,Serie A,Juventus,Napoli,0.724138,0.586207,0.424495
16,La Liga,Barcelona,Ath Madrid,0.785714,0.535714,0.420918
27,Premier League,Bournemouth,West Ham,0.633333,0.620690,0.393103
17,La Liga,Mallorca,Getafe,0.642857,0.535714,0.344388
10,La Liga,Osasuna,Betis,0.607143,0.535714,0.325255
31,Serie A,Sampdoria,Spezia,0.620690,0.517241,0.321046
30,Serie A,Lazio,Torino,0.655172,0.482759,0.316290
2,Bundesliga,Bochum,Wolfsburg,0.555556,0.555556,0.308642
25,Premier League,Leicester,Wolves,0.500000,0.600000,0.300000
23,Premier League,Liverpool,Nott'm Forest,0.517241,0.566667,0.293103

#### NoGoal Streak Weighted

In [385]:
dd1[['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio']].sort_values('no_goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio
36,Serie A,Juventus,Napoli,0.701149,0.680460,0.477104
16,La Liga,Barcelona,Ath Madrid,0.791866,0.554217,0.438866
30,Serie A,Lazio,Torino,0.705747,0.531034,0.374776
27,Premier League,Bournemouth,West Ham,0.596567,0.598698,0.357163
17,La Liga,Mallorca,Getafe,0.653012,0.542169,0.354043
10,La Liga,Osasuna,Betis,0.638554,0.528708,0.337609
2,Bundesliga,Bochum,Wolfsburg,0.584656,0.552910,0.323262
32,Serie A,Empoli,Inter,0.574713,0.558621,0.321046
23,Premier League,Liverpool,Nott'm Forest,0.590909,0.523605,0.309403
21,Premier League,Crystal Palace,Everton,0.519313,0.592275,0.307576

#### Goal Streak Weighted

In [386]:
dd1[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
0,Bundesliga,Augsburg,Stuttgart,0.690476,0.648148,0.447531
4,Bundesliga,Mainz,Bayern Munich,0.656085,0.669312,0.439125
5,Bundesliga,Dortmund,Ein Frankfurt,0.653439,0.658730,0.430440
3,Bundesliga,Hertha,Werder Bremen,0.624339,0.666667,0.416226
34,Serie A,Udinese,Cremonese,0.611494,0.613793,0.375331
29,Serie A,Salernitana,Sassuolo,0.577011,0.586207,0.338248
7,Bundesliga,Leverkusen,RB Leipzig,0.616402,0.513228,0.316355
9,La Liga,Espanol,Cadiz,0.807229,0.385542,0.311221
11,La Liga,Almeria,Ath Bilbao,0.674699,0.438554,0.295892
33,Serie A,Monza,Fiorentina,0.531034,0.517241,0.274673

### NoGoal/Goal Group

In [387]:
dd2 = next_matches_with_group.merge(no_goal_group,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(no_goal_group,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['no_goal_streak_weighted_ratio'] = dd2['no_goal_streak_weighted_ratio_home'] * dd2['no_goal_streak_weighted_ratio_away']
dd2['goal_streak_weighted_ratio'] = dd2['goal_streak_weighted_ratio_home'] * dd2['goal_streak_weighted_ratio_away']
dd2['no_goal_ratio'] = dd2['no_goal_ratio_home'] * dd2['no_goal_ratio_away']

#### No Goal Home/Away

In [388]:
dd2[(dd2['n_matches_home'] > 6)&(dd2['n_matches_away']>6)]\
    [['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio','n_matches_home','n_matches_away']]\
    .sort_values('no_goal_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio,n_matches_home,n_matches_away
27,Premier League,Bournemouth,West Ham,0.818182,0.777778,0.636364,11,9
21,Premier League,Crystal Palace,Everton,0.625000,0.727273,0.454545,8,11
26,Premier League,Newcastle,Tottenham,0.750000,0.555556,0.416667,8,9
6,Bundesliga,Freiburg,Schalke 04,0.571429,0.700000,0.400000,7,10
10,La Liga,Osasuna,Betis,0.777778,0.500000,0.388889,9,10
30,Serie A,Lazio,Torino,0.700000,0.545455,0.381818,10,11
23,Premier League,Liverpool,Nott'm Forest,0.625000,0.600000,0.375000,8,10
22,Premier League,Southampton,Crystal Palace,0.545455,0.625000,0.340909,11,8
37,Serie A,Atalanta,Roma,0.555556,0.555556,0.308642,9,9
16,La Liga,Barcelona,Ath Madrid,0.555556,0.555556,0.308642,9,9

#### NoGoal Streak Weighted

In [389]:
dd2[(dd2['n_matches_home'] > 6)&(dd2['n_matches_away']>6)]\
    [['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio','n_matches_home','n_matches_away']]\
    .sort_values('no_goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio,n_matches_home,n_matches_away
27,Premier League,Bournemouth,West Ham,0.774011,0.791667,0.612759,11,9
26,Premier League,Newcastle,Tottenham,0.863248,0.577465,0.498495,8,9
10,La Liga,Osasuna,Betis,0.842105,0.567164,0.477612,9,10
30,Serie A,Lazio,Torino,0.737931,0.603774,0.445543,10,11
37,Serie A,Atalanta,Roma,0.647482,0.633588,0.410237,9,9
16,La Liga,Barcelona,Ath Madrid,0.594406,0.634146,0.376940,9,9
21,Premier League,Crystal Palace,Everton,0.507042,0.697531,0.353678,8,11
36,Serie A,Juventus,Napoli,0.563291,0.627219,0.353307,9,10
23,Premier League,Liverpool,Nott'm Forest,0.603306,0.562500,0.339360,8,10
32,Serie A,Empoli,Inter,0.691489,0.487342,0.336992,11,10

#### Goal Streak Weighted

In [390]:
dd2[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio','n_matches_home','n_matches_away']]\
    .sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio,n_matches_home,n_matches_away
35,Serie A,Milan,Lecce,0.864078,0.786127,0.679275,7,11
4,Bundesliga,Mainz,Bayern Munich,0.797468,0.847328,0.675717,11,10
9,La Liga,Espanol,Cadiz,0.922078,0.726562,0.669947,11,8
33,Serie A,Monza,Fiorentina,0.766423,0.768519,0.589011,9,8
5,Bundesliga,Dortmund,Ein Frankfurt,0.771242,0.737931,0.569123,11,10
28,Serie A,Verona,Bologna,0.725000,0.741667,0.537708,11,9
7,Bundesliga,Leverkusen,RB Leipzig,0.631206,0.809917,0.511224,10,9
34,Serie A,Udinese,Cremonese,0.705357,0.666667,0.470238,8,11
20,Premier League,Fulham,Leeds,0.585185,0.709302,0.415073,8,11
8,Bundesliga,M'gladbach,Union Berlin,0.568345,0.728571,0.414080,10,10

##### Only for more than 5 matches

In [391]:
dd3 = dd2[(dd2['n_matches_home'] > 5)&(dd2['n_matches_away'] > 5)]
dd3[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
35,Serie A,Milan,Lecce,0.864078,0.786127,0.679275
4,Bundesliga,Mainz,Bayern Munich,0.797468,0.847328,0.675717
9,La Liga,Espanol,Cadiz,0.922078,0.726562,0.669947
33,Serie A,Monza,Fiorentina,0.766423,0.768519,0.589011
5,Bundesliga,Dortmund,Ein Frankfurt,0.771242,0.737931,0.569123
28,Serie A,Verona,Bologna,0.725000,0.741667,0.537708
7,Bundesliga,Leverkusen,RB Leipzig,0.631206,0.809917,0.511224
34,Serie A,Udinese,Cremonese,0.705357,0.666667,0.470238
20,Premier League,Fulham,Leeds,0.585185,0.709302,0.415073
8,Bundesliga,M'gladbach,Union Berlin,0.568345,0.728571,0.414080