In [225]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import requests
import os
import numpy as np

pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 200)

## Load Statistics

In [226]:
standings_df = pd.read_csv('../data/outputs/standings.csv')
standings_df.head()

,position,playedGames,form,won,draw,lost,points,goalsFor,goalsAgainst,goalDifference,team_short_name,team_group,competition
0,1,29,NaN,24,2,3,74,66,21,45,Napoli,0,Serie A
1,2,29,NaN,17,7,5,58,46,20,26,Lazio,0,Serie A
2,3,29,NaN,16,5,8,53,39,26,13,Roma,0,Serie A
3,4,29,NaN,15,7,7,52,48,36,12,Milan,0,Serie A
4,5,29,NaN,16,3,10,51,48,33,15,Inter,0,Serie A

In [227]:
win_draw_loss = pd.read_csv('../data/outputs/win_draw_loss.csv')
win_draw_loss.head()

,main_team,team_group,competition,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,10,0.100000,0.100000,0.800000,24.0,17.0,104.0,145.0,0.165517,0.117241,0.717241
1,Almeria,1,La Liga,12,0.333333,0.250000,0.416667,33.0,70.0,81.0,184.0,0.179348,0.380435,0.440217
2,Almeria,2,La Liga,6,0.500000,0.333333,0.166667,62.0,20.0,4.0,86.0,0.720930,0.232558,0.046512
3,Almeria,all,La Liga,28,0.285714,0.214286,0.500000,119.0,107.0,189.0,415.0,0.286747,0.257831,0.455422
4,Arsenal,0,Premier League,9,0.666667,0.111111,0.222222,97.0,19.0,18.0,134.0,0.723881,0.141791,0.134328

In [228]:
win_draw_loss_away_home = pd.read_csv('../data/outputs/win_draw_loss_away_home.csv')
win_draw_loss_away_home.head()

,main_team,team_group,competition,away_home,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,away,4,0.000000,0.000000,1.000000,0.0,0.0,40.0,40.0,0.000000,0.000000,1.000000
1,Almeria,0,La Liga,home,6,0.166667,0.166667,0.666667,24.0,17.0,64.0,105.0,0.228571,0.161905,0.609524
2,Almeria,1,La Liga,away,6,0.000000,0.333333,0.666667,0.0,43.0,76.0,119.0,0.000000,0.361345,0.638655
3,Almeria,1,La Liga,home,6,0.666667,0.166667,0.166667,33.0,27.0,5.0,65.0,0.507692,0.415385,0.076923
4,Almeria,2,La Liga,away,3,0.000000,0.666667,0.333333,0.0,20.0,4.0,24.0,0.000000,0.833333,0.166667

In [229]:
scored_conceded_goal_group_away_home= pd.read_csv('../data/outputs/team_scored_conceded_goal_group_away_home.csv')
scored_conceded_goal_group_away_home.head()

,main_team,team_group,competition,away_home,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,away,4,2,4,20.0,40.0,40.0,0.500000,1.000000,1.000000,0.500000
1,Almeria,0,La Liga,home,6,4,5,64.0,81.0,105.0,0.609524,0.771429,0.833333,0.666667
2,Almeria,1,La Liga,away,6,4,6,92.0,119.0,119.0,0.773109,1.000000,1.000000,0.666667
3,Almeria,1,La Liga,home,6,5,6,60.0,65.0,65.0,0.923077,1.000000,1.000000,0.833333
4,Almeria,2,La Liga,away,3,2,3,20.0,24.0,24.0,0.833333,1.000000,1.000000,0.666667

In [230]:
scored_conceded_goal_group = pd.read_csv('../data/outputs/team_scored_conceded_goal_group.csv')
scored_conceded_goal_group.head()

,main_team,team_group,competition,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,10,6,9,84.0,121.0,145.0,0.579310,0.834483,0.900000,0.600000
1,Almeria,1,La Liga,12,9,12,152.0,184.0,184.0,0.826087,1.000000,1.000000,0.750000
2,Almeria,2,La Liga,6,5,5,82.0,72.0,86.0,0.953488,0.837209,0.833333,0.833333
3,Almeria,all,La Liga,28,20,26,318.0,377.0,415.0,0.766265,0.908434,0.928571,0.714286
4,Arsenal,0,Premier League,9,8,7,115.0,95.0,134.0,0.858209,0.708955,0.777778,0.888889

In [231]:
no_goal_group = pd.read_csv('../data/outputs/no_goal_group.csv')
no_goal_group.head()

,main_team,team_group,competition,n_matches,no_goal,no_goal_streak_weighted,goal_streak_weighted,tot_giornata,no_goal_streak_weighted_ratio,goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,La Liga,10,5,85.0,60.0,145.0,0.586207,0.413793,0.500000,0.500000
1,Almeria,1,La Liga,12,3,32.0,152.0,184.0,0.173913,0.826087,0.250000,0.750000
2,Almeria,2,La Liga,6,2,18.0,68.0,86.0,0.209302,0.790698,0.333333,0.666667
3,Almeria,all,La Liga,28,10,135.0,280.0,415.0,0.325301,0.674699,0.357143,0.642857
4,Arsenal,0,Premier League,9,2,39.0,95.0,134.0,0.291045,0.708955,0.222222,0.777778

In [232]:
no_goal_group_away_home = pd.read_csv('../data/outputs/no_goal_group_away_home.csv')
no_goal_group_away_home.head()

,main_team,team_group,away_home,competition,n_matches,no_goal,goal_streak_weighted,no_goal_streak_weighted,tot_giornata,goal_streak_weighted_ratio,no_goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,away,La Liga,4,2,20.0,20.0,40.0,0.500000,0.500000,0.500000,0.500000
1,Almeria,0,home,La Liga,6,3,40.0,65.0,105.0,0.380952,0.619048,0.500000,0.500000
2,Almeria,1,away,La Liga,6,2,92.0,27.0,119.0,0.773109,0.226891,0.333333,0.666667
3,Almeria,1,home,La Liga,6,1,60.0,5.0,65.0,0.923077,0.076923,0.166667,0.833333
4,Almeria,2,away,La Liga,3,1,20.0,4.0,24.0,0.833333,0.166667,0.333333,0.666667

In [233]:
n_goal_group = pd.read_csv('../data/outputs/num_goals_group.csv')
n_goal_group.head()

,main_team,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,0,La Liga,10,0.700000,2.100000
1,Almeria,1,La Liga,12,1.500000,1.750000
2,Almeria,2,La Liga,6,1.500000,1.000000
3,Almeria,all,La Liga,28,1.214286,1.714286
4,Arsenal,0,Premier League,9,2.222222,1.555556

### Next Matches

In [234]:
next_matches = pd.DataFrame([
    ["Bundesliga","RB Leipzig","Augsburg"],
    ["Bundesliga","Schalke 04","Hertha"],
    ["Bundesliga","FC Koln","Mainz"],
    ["Bundesliga","Stuttgart","Dortmund"],
    ["Bundesliga","Bayern Munich","Hoffenheim"],
    ["Bundesliga","Ein Frankfurt","M'gladbach"],
    ["Bundesliga","Werder Bremen","Freiburg"],
    ["Bundesliga","Union Berlin","Bochum"],
    ["Bundesliga","Wolfsburg","Leverkusen"],
    ["La Liga","Vallecano","Osasuna"],
    ["La Liga","Villarreal","Valladolid"],
    ["La Liga","Ath Bilbao","Sociedad"],
    ["La Liga","Espanol","Betis"],
    ["La Liga","Cadiz","Real Madrid"],
    ["La Liga","Girona","Elche"],
    ["La Liga","Getafe","Barcelona"],
    ["La Liga","Valencia","Sevilla"],
    ["La Liga","Ath Madrid","Almeria"],
    ["La Liga","Celta","Mallorca"],
    ["Premier League","Aston Villa","Newcastle"],
    ["Premier League","Chelsea","Brighton"],
    ["Premier League","Everton","Fulham"],
    ["Premier League","Southampton","Crystal Palace"],
    ["Premier League","Tottenham","Bournemouth"],
    ["Premier League","Wolves","Brentford"],
    ["Premier League","Man City","Leicester"],
    ["Premier League","West Ham","Arsenal"],
    ["Premier League","Nott'm Forest","Man United"],
    ["Premier League","Leeds","Liverpool"],
             ], columns=['competition','home_team','away_team'])

#### Check names are spelled correctly

In [235]:
dd = next_matches.merge(standings_df, left_on='home_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['home_team'])==0, dd[dd.position.isna()]['home_team']

In [236]:
dd = next_matches.merge(standings_df, left_on='away_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['away_team']) == 0, dd[dd.position.isna()]['away_team']

#### Assign team groups

In [237]:
next_matches_with_group = next_matches.merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','home_team'],\
                   right_on=['competition','team_short_name'], how='left')\
            .merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','away_team'],\
                   right_on=['competition','team_short_name'], how='left', suffixes=['_home','_away'])\
            [['competition','home_team','away_team','team_group_home','team_group_away']]
next_matches_with_group['team_group_home'] = next_matches_with_group['team_group_home'].astype(str)
next_matches_with_group['team_group_away'] = next_matches_with_group['team_group_away'].astype(str)

### NoGoal/Goal Overall

In [238]:
nggall = no_goal_group[no_goal_group.team_group=='all']

In [239]:
nggall.columns

Index(['main_team', 'team_group', 'competition', 'n_matches', 'no_goal',
       'no_goal_streak_weighted', 'goal_streak_weighted', 'tot_giornata',
       'no_goal_streak_weighted_ratio', 'goal_streak_weighted_ratio',
       'no_goal_ratio', 'goal_ratio'],
      dtype='object')

In [240]:
dd1 = next_matches.merge(nggall, left_on=['competition','home_team'], right_on=['competition','main_team'])
dd1 = dd1.merge(nggall, left_on=['competition','away_team'], right_on=['competition','main_team'], suffixes=['_home','_away'])
dd1['no_goal_streak_weighted_ratio'] = dd1['no_goal_streak_weighted_ratio_home'] * dd1['no_goal_streak_weighted_ratio_away']
dd1['goal_streak_weighted_ratio'] = dd1['goal_streak_weighted_ratio_home'] * dd1['goal_streak_weighted_ratio_away']
dd1['no_goal_ratio'] = dd1['no_goal_ratio_home'] * dd1['no_goal_ratio_away']

#### NoGoal

In [241]:
dd1[['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio']].sort_values('no_goal_ratio', ascending=False).head()

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio
15,La Liga,Getafe,Barcelona,0.535714,0.785714,0.420918
10,La Liga,Villarreal,Valladolid,0.642857,0.642857,0.413265
11,La Liga,Ath Bilbao,Sociedad,0.607143,0.571429,0.346939
27,Premier League,Nott'm Forest,Man United,0.566667,0.551724,0.312644
18,La Liga,Celta,Mallorca,0.464286,0.642857,0.298469

#### NoGoal Streak Weighted

In [242]:
dd1[['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio']].sort_values('no_goal_streak_weighted_ratio', ascending=False).head()

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio
15,La Liga,Getafe,Barcelona,0.542169,0.791866,0.429325
11,La Liga,Ath Bilbao,Sociedad,0.561446,0.643373,0.361219
27,Premier League,Nott'm Forest,Man United,0.523605,0.655251,0.343093
10,La Liga,Villarreal,Valladolid,0.546988,0.597590,0.326875
21,Premier League,Everton,Fulham,0.592275,0.529680,0.313716

#### Goal Streak Weighted

In [243]:
dd1[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head()

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
4,Bundesliga,Bayern Munich,Hoffenheim,0.669312,0.648148,0.433813
3,Bundesliga,Stuttgart,Dortmund,0.648148,0.653439,0.423525
6,Bundesliga,Werder Bremen,Freiburg,0.666667,0.592593,0.395062
12,La Liga,Espanol,Betis,0.807229,0.471292,0.380440
0,Bundesliga,RB Leipzig,Augsburg,0.513228,0.690476,0.354371

### NoGoal/Goal Group

In [244]:
dd2 = next_matches_with_group.merge(no_goal_group,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(no_goal_group,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['no_goal_streak_weighted_ratio'] = dd2['no_goal_streak_weighted_ratio_home'] * dd2['no_goal_streak_weighted_ratio_away']
dd2['goal_streak_weighted_ratio'] = dd2['goal_streak_weighted_ratio_home'] * dd2['goal_streak_weighted_ratio_away']
dd2['no_goal_ratio'] = dd2['no_goal_ratio_home'] * dd2['no_goal_ratio_away']

#### No Goal

In [245]:
dd2[['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio']].sort_values('no_goal_ratio', ascending=False).head()

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio
18,La Liga,Celta,Mallorca,0.666667,0.875000,0.583333
15,La Liga,Getafe,Barcelona,0.636364,0.888889,0.565657
27,Premier League,Nott'm Forest,Man United,0.636364,0.800000,0.509091
11,La Liga,Ath Bilbao,Sociedad,0.875000,0.571429,0.500000
7,Bundesliga,Union Berlin,Bochum,0.571429,0.818182,0.467532

#### NoGoal Streak Weighted

In [246]:
dd2[['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio']].sort_values('no_goal_streak_weighted_ratio', ascending=False).head()

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio
11,La Liga,Ath Bilbao,Sociedad,0.870229,0.744444,0.647837
7,Bundesliga,Union Berlin,Bochum,0.822222,0.764331,0.628450
18,La Liga,Celta,Mallorca,0.612245,0.966667,0.591837
15,La Liga,Getafe,Barcelona,0.638554,0.895833,0.572038
27,Premier League,Nott'm Forest,Man United,0.485549,0.892857,0.433526

#### Goal Streak Weighted

In [250]:
dd2[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head()

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
1,Bundesliga,Schalke 04,Hertha,0.656716,1.000000,0.656716
4,Bundesliga,Bayern Munich,Hoffenheim,0.847328,0.644444,0.546056
14,La Liga,Girona,Elche,0.848276,0.607843,0.515619
23,Premier League,Tottenham,Bournemouth,0.906832,0.539326,0.489078
12,La Liga,Espanol,Betis,0.760000,0.565217,0.429565

##### Only for more than 5 matches

In [254]:
dd3 = dd2[(dd2['n_matches_home'] > 5)&(dd2['n_matches_away'] > 5)]
dd3[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head()

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
4,Bundesliga,Bayern Munich,Hoffenheim,0.847328,0.644444,0.546056
14,La Liga,Girona,Elche,0.848276,0.607843,0.515619
23,Premier League,Tottenham,Bournemouth,0.906832,0.539326,0.489078
12,La Liga,Espanol,Betis,0.760000,0.565217,0.429565
8,Bundesliga,Wolfsburg,Leverkusen,0.523810,0.815603,0.427221