In [759]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import requests
import os
import numpy as np
from math import floor, ceil

pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 200)

## Load Statistics

In [679]:
standings_df = pd.read_csv('../data/outputs/standings.csv')
standings_df.head(2)

,position,playedGames,form,won,draw,lost,points,goalsFor,goalsAgainst,goalDifference,team_short_name,team_group,competition
0,1,30,NaN,24,3,3,75,66,21,45,Napoli,0,Serie A
1,2,30,NaN,18,7,5,61,49,20,29,Lazio,0,Serie A

In [680]:
win_draw_loss = pd.read_csv('../data/outputs/win_draw_loss.csv')
win_draw_loss.head(2)

,main_team,team_group,competition,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,10,0.100000,0.10,0.800000,24.0,17.0,104.0,145.0,0.165517,0.117241,0.717241
1,Almeria,1,La Liga,12,0.333333,0.25,0.416667,33.0,70.0,81.0,184.0,0.179348,0.380435,0.440217

In [681]:
win_draw_loss_away_home = pd.read_csv('../data/outputs/win_draw_loss_away_home.csv')
win_draw_loss_away_home.head(2)

,main_team,team_group,competition,away_home,n_matches,avg_win,avg_draw,avg_loss,win_streak_weighted,draw_streak_weighted,loss_streak_weighted,tot_giornata,win_streak_weighted_ratio,draw_streak_weighted_ratio,loss_streak_weighted_ratio
0,Almeria,0,La Liga,away,4,0.000000,0.000000,1.000000,0.0,0.0,40.0,40.0,0.000000,0.000000,1.000000
1,Almeria,0,La Liga,home,6,0.166667,0.166667,0.666667,24.0,17.0,64.0,105.0,0.228571,0.161905,0.609524

In [682]:
scored_conceded_goal_group_away_home= pd.read_csv('../data/outputs/team_scored_conceded_goal_group_away_home.csv')
scored_conceded_goal_group_away_home.head(2)

,main_team,team_group,competition,away_home,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,away,4,2,4,20.0,40.0,40.0,0.500000,1.000000,1.000000,0.500000
1,Almeria,0,La Liga,home,6,4,5,64.0,81.0,105.0,0.609524,0.771429,0.833333,0.666667

In [683]:
scored_conceded_goal_group = pd.read_csv('../data/outputs/team_scored_conceded_goal_group.csv')
scored_conceded_goal_group.head(2)

,main_team,team_group,competition,n_matches,team_has_scored,team_has_conceded_goal,team_has_scored_streak_weighted,team_has_conceded_goal_streak_weighted,tot_giornata,team_has_scored_streak_weighted_ratio,team_has_conceded_goal_streak_weighted_ratio,team_has_conceded_goal_ratio,team_has_scored_ratio
0,Almeria,0,La Liga,10,6,9,84.0,121.0,145.0,0.579310,0.834483,0.9,0.60
1,Almeria,1,La Liga,12,9,12,152.0,184.0,184.0,0.826087,1.000000,1.0,0.75

In [684]:
no_goal_group = pd.read_csv('../data/outputs/no_goal_group.csv')
no_goal_group.head(2)

,n_matches,main_team,team_group,competition,no_goal,no_goal_streak_weighted,goal_streak_weighted,tot_giornata,no_goal_streak_weighted_ratio,goal_streak_weighted_ratio,no_goal_ratio,goal_ratio,curr_giornata,last_giornata
0,10,Augsburg,0,Bundesliga,3,27.0,98.0,125.0,0.216000,0.784000,0.300000,0.700000,27,27.0
1,11,Augsburg,1,Bundesliga,4,48.0,118.0,166.0,0.289157,0.710843,0.363636,0.636364,27,27.0

In [685]:
no_goal_group_away_home = pd.read_csv('../data/outputs/no_goal_group_away_home.csv')
no_goal_group_away_home.head(2)

,main_team,team_group,away_home,competition,n_matches,no_goal,goal_streak_weighted,no_goal_streak_weighted,tot_giornata,goal_streak_weighted_ratio,no_goal_streak_weighted_ratio,no_goal_ratio,goal_ratio
0,Almeria,0,away,La Liga,4,2,20.0,20.0,40.0,0.500000,0.500000,0.5,0.5
1,Almeria,0,home,La Liga,6,3,40.0,65.0,105.0,0.380952,0.619048,0.5,0.5

In [686]:
n_goal_group = pd.read_csv('../data/outputs/num_goals_group.csv')
n_goal_group.head(2)

  main_team team_group competition  n_matches  avg_goal_fatti  avg_goal_subiti
0   Almeria          0     La Liga         10             0.7             2.10
1   Almeria          1     La Liga         12             1.5             1.75

In [687]:
n_goal_group_away_home = pd.read_csv('../data/outputs/n_goal_group_away_home.csv')
n_goal_group_away_home.head(2)

,main_team,away_home,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,away,0,La Liga,4,0.500000,2.750000
1,Almeria,away,1,La Liga,6,0.833333,2.333333

In [688]:
n_goal_group_last_matches = pd.read_csv('../data/outputs/n_goal_group_last_matches.csv')
n_goal_group_last_matches.head(2)

,main_team,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti,n_last_matches
0,Almeria,0,La Liga,3,1.00,1.666667,10
1,Almeria,1,La Liga,4,1.25,3.000000,10

### Next Matches

In [723]:
next_matches = pd.DataFrame([\
    ["Bundesliga","Augsburg","Stuttgart"],
    ["Bundesliga","Hoffenheim","FC Koln"],
    ["Bundesliga","Bochum","Wolfsburg"],
    ["Bundesliga","Hertha","Werder Bremen"],
    ["Bundesliga","Mainz","Bayern Munich"],
    ["Bundesliga","Dortmund","Ein Frankfurt"],
    ["Bundesliga","Freiburg","Schalke 04"],
    ["Bundesliga","Leverkusen","RB Leipzig"],
    ["Bundesliga","M'gladbach","Union Berlin"],
    ["La Liga","Espanol","Cadiz"],
    ["La Liga","Osasuna","Betis"],
    ["La Liga", "Almeria", "Ath Bilbao"],
    ["La Liga","Sociedad","Vallecano"],
    ["La Liga","Valladolid","Girona"],
    ["La Liga","Real Madrid","Celta"],
    ["La Liga","Elche","Valencia"],
    ["La Liga","Barcelona","Ath Madrid"],
    ["La Liga","Mallorca","Getafe"],
    ["La Liga","Sevilla","Villarreal"],
    ["Premier League","Arsenal","Southampton"],
    ["Premier League","Fulham","Leeds"],
    ["Premier League","Crystal Palace","Everton"],
    ["Premier League","Liverpool","Nott'm Forest"],
    ["Premier League","Brentford","Aston Villa"],
    ["Premier League","Leicester","Wolves"],
    ["Premier League","Newcastle","Tottenham"],
    ["Premier League","Bournemouth","West Ham"],
    ["Serie A","Verona","Bologna"],
    ["Serie A","Salernitana","Sassuolo"],
    ["Serie A","Lazio","Torino"],
    ["Serie A","Sampdoria","Spezia"],
    ["Serie A","Empoli","Inter"],
    ["Serie A","Monza","Fiorentina"],
    ["Serie A","Udinese","Cremonese"],
    ["Serie A","Milan","Lecce"],
    ["Serie A","Juventus","Napoli"],
    ["Serie A","Atalanta","Roma"]],\
    columns=['competition','home_team','away_team'])

#### Check names are spelled correctly

In [724]:
dd = next_matches.merge(standings_df, left_on='home_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['home_team'])==0, dd[dd.position.isna()]['home_team']

In [725]:
dd = next_matches.merge(standings_df, left_on='away_team', right_on='team_short_name', how='left')
assert len(dd[dd.position.isna()]['away_team']) == 0, dd[dd.position.isna()]['away_team']

#### Assign team groups

In [726]:
next_matches_with_group = next_matches.merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','home_team'],\
                   right_on=['competition','team_short_name'], how='left')\
            .merge(standings_df[['competition','team_short_name','team_group']],\
                   left_on=['competition','away_team'],\
                   right_on=['competition','team_short_name'], how='left', suffixes=['_home','_away'])\
            [['competition','home_team','away_team','team_group_home','team_group_away']]
next_matches_with_group['team_group_home'] = next_matches_with_group['team_group_home'].astype(str)
next_matches_with_group['team_group_away'] = next_matches_with_group['team_group_away'].astype(str)

### NoGoal/Goal Overall

In [727]:
nggall = no_goal_group[no_goal_group.team_group=='all']

In [728]:
nggall.columns

Index(['n_matches', 'main_team', 'team_group', 'competition', 'no_goal',
       'no_goal_streak_weighted', 'goal_streak_weighted', 'tot_giornata',
       'no_goal_streak_weighted_ratio', 'goal_streak_weighted_ratio',
       'no_goal_ratio', 'goal_ratio', 'curr_giornata', 'last_giornata'],
      dtype='object')

In [729]:
dd1 = next_matches.merge(nggall, left_on=['competition','home_team'], right_on=['competition','main_team'])
dd1 = dd1.merge(nggall, left_on=['competition','away_team'], right_on=['competition','main_team'], suffixes=['_home','_away'])
dd1['no_goal_streak_weighted_ratio'] = dd1['no_goal_streak_weighted_ratio_home'] + dd1['no_goal_streak_weighted_ratio_away']
dd1['goal_streak_weighted_ratio'] = dd1['goal_streak_weighted_ratio_home'] + dd1['goal_streak_weighted_ratio_away']
dd1['no_goal_ratio'] = dd1['no_goal_ratio_home'] + dd1['no_goal_ratio_away']

#### NoGoal

In [730]:
dd1[['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio']].sort_values('no_goal_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio
16,La Liga,Barcelona,Ath Madrid,0.785714,0.535714,1.321429
27,Serie A,Juventus,Napoli,0.724138,0.586207,1.310345
17,La Liga,Mallorca,Getafe,0.642857,0.535714,1.178571
10,La Liga,Osasuna,Betis,0.607143,0.535714,1.142857
21,Serie A,Lazio,Torino,0.655172,0.482759,1.137931
22,Serie A,Sampdoria,Spezia,0.620690,0.517241,1.137931
2,Bundesliga,Bochum,Wolfsburg,0.555556,0.555556,1.111111
28,Serie A,Atalanta,Roma,0.482759,0.586207,1.068966
6,Bundesliga,Freiburg,Schalke 04,0.481481,0.555556,1.037037
12,La Liga,Sociedad,Vallecano,0.571429,0.464286,1.035714

#### NoGoal Streak Weighted

In [731]:
dd1[['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio']].sort_values('no_goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio
27,Serie A,Juventus,Napoli,0.701149,0.680460,1.381609
16,La Liga,Barcelona,Ath Madrid,0.791866,0.554217,1.346083
21,Serie A,Lazio,Torino,0.705747,0.531034,1.236782
17,La Liga,Mallorca,Getafe,0.653012,0.542169,1.195181
10,La Liga,Osasuna,Betis,0.638554,0.528708,1.167262
2,Bundesliga,Bochum,Wolfsburg,0.584656,0.552910,1.137566
23,Serie A,Empoli,Inter,0.574713,0.558621,1.133333
12,La Liga,Sociedad,Vallecano,0.643373,0.460241,1.103614
28,Serie A,Atalanta,Roma,0.491954,0.595402,1.087356
22,Serie A,Sampdoria,Spezia,0.602299,0.485057,1.087356

#### Goal Streak Weighted

In [732]:
dd1[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
0,Bundesliga,Augsburg,Stuttgart,0.690476,0.648148,1.338624
4,Bundesliga,Mainz,Bayern Munich,0.656085,0.669312,1.325397
5,Bundesliga,Dortmund,Ein Frankfurt,0.653439,0.658730,1.312169
3,Bundesliga,Hertha,Werder Bremen,0.624339,0.666667,1.291005
25,Serie A,Udinese,Cremonese,0.611494,0.613793,1.225287
9,La Liga,Espanol,Cadiz,0.807229,0.385542,1.192771
20,Serie A,Salernitana,Sassuolo,0.577011,0.586207,1.163218
7,Bundesliga,Leverkusen,RB Leipzig,0.616402,0.513228,1.129630
11,La Liga,Almeria,Ath Bilbao,0.674699,0.438554,1.113253
13,La Liga,Valladolid,Girona,0.402410,0.665060,1.067470

### NoGoal/Goal Group

In [733]:
dd2 = next_matches_with_group.merge(no_goal_group,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(no_goal_group,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['no_goal_streak_weighted_ratio'] = dd2['no_goal_streak_weighted_ratio_home'] + dd2['no_goal_streak_weighted_ratio_away']
dd2['goal_streak_weighted_ratio'] = dd2['goal_streak_weighted_ratio_home'] + dd2['goal_streak_weighted_ratio_away']
dd2['no_goal_ratio'] = dd2['no_goal_ratio_home'] + dd2['no_goal_ratio_away']

#### No Goal Home/Away

In [734]:
dd2[(dd2['n_matches_home'] > 6)&(dd2['n_matches_away']>6)]\
    [['competition','home_team','away_team',\
    'no_goal_ratio_home','no_goal_ratio_away',\
    'no_goal_ratio','n_matches_home','n_matches_away']]\
    .sort_values('no_goal_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_ratio_home,no_goal_ratio_away,no_goal_ratio,n_matches_home,n_matches_away
6,Bundesliga,Freiburg,Schalke 04,0.571429,0.700000,1.271429,7,10
21,Serie A,Lazio,Torino,0.700000,0.545455,1.245455,10,11
10,La Liga,Osasuna,Betis,0.777778,0.400000,1.177778,9,10
28,Serie A,Atalanta,Roma,0.555556,0.555556,1.111111,9,9
16,La Liga,Barcelona,Ath Madrid,0.555556,0.555556,1.111111,9,9
27,Serie A,Juventus,Napoli,0.555556,0.500000,1.055556,9,10
23,Serie A,Empoli,Inter,0.636364,0.400000,1.036364,11,10
18,La Liga,Sevilla,Villarreal,0.333333,0.666667,1.000000,9,9
11,La Liga,Almeria,Ath Bilbao,0.500000,0.500000,1.000000,10,10
12,La Liga,Sociedad,Vallecano,0.500000,0.444444,0.944444,10,9

#### NoGoal Streak Weighted

In [735]:
dd2[(dd2['n_matches_home'] > 6)&(dd2['n_matches_away']>6)]\
    [['competition','home_team','away_team',\
    'no_goal_streak_weighted_ratio_home','no_goal_streak_weighted_ratio_away',\
    'no_goal_streak_weighted_ratio','n_matches_home','n_matches_away']]\
    .sort_values('no_goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,no_goal_streak_weighted_ratio_home,no_goal_streak_weighted_ratio_away,no_goal_streak_weighted_ratio,n_matches_home,n_matches_away
21,Serie A,Lazio,Torino,0.737931,0.603774,1.341705,10,11
28,Serie A,Atalanta,Roma,0.647482,0.633588,1.281070,9,9
16,La Liga,Barcelona,Ath Madrid,0.594406,0.634146,1.228552,9,9
10,La Liga,Osasuna,Betis,0.842105,0.357143,1.199248,9,10
27,Serie A,Juventus,Napoli,0.563291,0.627219,1.190510,9,10
23,Serie A,Empoli,Inter,0.691489,0.487342,1.178831,11,10
6,Bundesliga,Freiburg,Schalke 04,0.421053,0.701987,1.123039,7,10
14,La Liga,Real Madrid,Celta,0.635036,0.421053,1.056089,10,10
17,La Liga,Mallorca,Getafe,0.541667,0.407143,0.948810,8,10
18,La Liga,Sevilla,Villarreal,0.293578,0.654135,0.947713,9,9

#### Goal Streak Weighted

In [736]:
dd2[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio','n_matches_home','n_matches_away']]\
    .sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio,n_matches_home,n_matches_away
26,Serie A,Milan,Lecce,0.864078,0.786127,1.650205,7,11
4,Bundesliga,Mainz,Bayern Munich,0.797468,0.847328,1.644797,11,10
24,Serie A,Monza,Fiorentina,0.766423,0.768519,1.534942,9,8
5,Bundesliga,Dortmund,Ein Frankfurt,0.771242,0.737931,1.509173,11,10
9,La Liga,Espanol,Cadiz,0.729412,0.762295,1.491707,6,7
19,Serie A,Verona,Bologna,0.725000,0.741667,1.466667,11,9
7,Bundesliga,Leverkusen,RB Leipzig,0.631206,0.809917,1.441123,10,9
25,Serie A,Udinese,Cremonese,0.705357,0.666667,1.372024,8,11
13,La Liga,Valladolid,Girona,0.335766,0.963415,1.299181,9,7
8,Bundesliga,M'gladbach,Union Berlin,0.568345,0.728571,1.296917,10,10

##### Only for more than 5 matches

In [737]:
dd3 = dd2[(dd2['n_matches_home'] > 5)&(dd2['n_matches_away'] > 5)]
dd3[['competition','home_team','away_team',\
    'goal_streak_weighted_ratio_home','goal_streak_weighted_ratio_away',\
    'goal_streak_weighted_ratio']].sort_values('goal_streak_weighted_ratio', ascending=False).head(10)

,competition,home_team,away_team,goal_streak_weighted_ratio_home,goal_streak_weighted_ratio_away,goal_streak_weighted_ratio
26,Serie A,Milan,Lecce,0.864078,0.786127,1.650205
4,Bundesliga,Mainz,Bayern Munich,0.797468,0.847328,1.644797
24,Serie A,Monza,Fiorentina,0.766423,0.768519,1.534942
5,Bundesliga,Dortmund,Ein Frankfurt,0.771242,0.737931,1.509173
9,La Liga,Espanol,Cadiz,0.729412,0.762295,1.491707
19,Serie A,Verona,Bologna,0.725000,0.741667,1.466667
7,Bundesliga,Leverkusen,RB Leipzig,0.631206,0.809917,1.441123
25,Serie A,Udinese,Cremonese,0.705357,0.666667,1.372024
13,La Liga,Valladolid,Girona,0.335766,0.963415,1.299181
8,Bundesliga,M'gladbach,Union Berlin,0.568345,0.728571,1.296917

### N Goals - OVER

#### Group

In [738]:
dd2 = next_matches_with_group.merge(n_goal_group,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(n_goal_group,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['avg_goal_fatti_tot'] = dd2['avg_goal_fatti_home'] + dd2['avg_goal_fatti_away']
dd2['avg_goal_subiti_tot'] = dd2['avg_goal_subiti_home'] + dd2['avg_goal_subiti_away']
dd2['min_fatti_subiti_tot'] = \
            dd2.apply(lambda row: floor(min(row['avg_goal_fatti_tot'],row['avg_goal_subiti_tot'])), axis=1)

In [739]:
dd2[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values('min_fatti_subiti_tot', ascending=False).head(10)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
4,Bundesliga,Mainz,Bayern Munich,4.172727,3.218182,3,11,10
5,Bundesliga,Dortmund,Ein Frankfurt,3.609091,3.254545,3,11,10
20,Premier League,Fulham,Leeds,3.477273,3.125000,3,8,11
19,Premier League,Arsenal,Southampton,3.327273,3.063636,3,10,11
1,Bundesliga,Hoffenheim,FC Koln,3.422222,3.711111,3,10,9
0,Bundesliga,Augsburg,Stuttgart,2.133333,3.166667,2,6,10
17,La Liga,Mallorca,Getafe,2.474747,2.222222,2,9,11
28,Serie A,Salernitana,Sassuolo,2.811111,2.677778,2,9,10
27,Serie A,Verona,Bologna,2.373737,2.545455,2,11,9
26,Premier League,Bournemouth,West Ham,2.857143,2.396825,2,7,9

#### Group - Home/Away

In [740]:
n_goal_group_away_home.head(1)

,main_team,away_home,team_group,competition,n_matches,avg_goal_fatti,avg_goal_subiti
0,Almeria,away,0,La Liga,4,0.5,2.75

In [741]:
dd2 = next_matches_with_group.merge(n_goal_group_away_home[n_goal_group_away_home.away_home=='home'],\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(n_goal_group_away_home[n_goal_group_away_home.away_home=='away'],\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['avg_goal_fatti_tot'] = dd2['avg_goal_fatti_home'] + dd2['avg_goal_fatti_away']
dd2['avg_goal_subiti_tot'] = dd2['avg_goal_subiti_home'] + dd2['avg_goal_subiti_away']
dd2['min_fatti_subiti_tot'] = \
            dd2.apply(lambda row: floor(min(row['avg_goal_fatti_tot'],row['avg_goal_subiti_tot'])), axis=1)

In [742]:
dd3 = dd2[dd2.min_fatti_subiti_tot >= 2]
dd3[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_tot','avg_goal_subiti_tot','avg_goal_fatti_tot'], ascending=False).head(100)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
1,Bundesliga,Hoffenheim,FC Koln,3.850000,5.050000,3,5,4
7,Bundesliga,Leverkusen,RB Leipzig,3.066667,4.066667,3,5,3
27,Serie A,Verona,Bologna,3.000000,3.416667,3,4,3
25,Premier League,Newcastle,Tottenham,4.000000,3.250000,3,3,4
14,La Liga,Real Madrid,Celta,4.500000,3.050000,3,5,4
19,Premier League,Arsenal,Southampton,4.250000,3.050000,3,5,4
31,Serie A,Empoli,Inter,2.300000,4.250000,2,4,5
23,Premier League,Brentford,Aston Villa,2.550000,3.400000,2,5,4
36,Serie A,Atalanta,Roma,2.200000,3.400000,2,4,5
18,La Liga,Sevilla,Villarreal,2.750000,3.250000,2,4,4
33,Serie A,Udinese,Cremonese,2.333333,3.000000,2,4,6
29,Serie A,Lazio,Torino,2.033333,2.966667,2,5,6
4,Bundesliga,Mainz,Bayern Munich,2.666667,2.833333,2,6,4
5,Bundesliga,Dortmund,Ein Frankfurt,3.200000,2.800000,2,5,5
13,La Liga,Valladolid,Girona,3.250000,2.750000,2,4,2
20,Premier League,Fulham,Leeds,2.800000,2.700000,2,4,5
11,La Liga,Almeria,Ath Bilbao,3.633333,2.666667,2,6,5
34,Serie A,Milan,Lecce,2.500000,2.500000,2,2,4
30,Serie A,Sampdoria,Spezia,2.250000,2.500000,2,4,2
9,La Liga,Espanol,Cadiz,2.666667,2.333333,2,2,3
21,Premier League,Crystal Palace,Everton,2.266667,2.266667,2,3,5
28,Serie A,Salernitana,Sassuolo,3.000000,2.250000,2,4,4
8,Bundesliga,M'gladbach,Union Berlin,3.166667,2.166667,2,6,4
22,Premier League,Liverpool,Nott'm Forest,2.133333,2.133333,2,5,3

##### At least 5 matches

In [743]:
n_matches = 4

In [744]:
dd3 = dd2[(dd2.n_matches_home>n_matches)&(dd2.n_matches_away>n_matches)]
dd3 = dd3[dd3.min_fatti_subiti_tot >= 2]
dd3[['competition','home_team','away_team',\
    'avg_goal_fatti_tot','avg_goal_subiti_tot','min_fatti_subiti_tot',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_tot','avg_goal_subiti_tot','avg_goal_fatti_tot'], ascending=False).head(100)

,competition,home_team,away_team,avg_goal_fatti_tot,avg_goal_subiti_tot,min_fatti_subiti_tot,n_matches_home,n_matches_away
29,Serie A,Lazio,Torino,2.033333,2.966667,2,5,6
5,Bundesliga,Dortmund,Ein Frankfurt,3.200000,2.800000,2,5,5
11,La Liga,Almeria,Ath Bilbao,3.633333,2.666667,2,6,5

####Last Matches

##### Group

In [783]:
dd2 = next_matches_with_group.merge(n_goal_group_last_matches,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(n_goal_group_last_matches,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['min_goal_fatti_home_subiti_away'] = \
            dd2.apply(lambda row: min(row['avg_goal_fatti_home'],row['avg_goal_subiti_away']), axis=1)
dd2['min_goal_fatti_away_subiti_home'] = \
            dd2.apply(lambda row: min(row['avg_goal_fatti_away'],row['avg_goal_subiti_home']), axis=1)
dd2['min_fatti_subiti'] = dd2['min_goal_fatti_home_subiti_away'] + dd2['min_goal_fatti_away_subiti_home']
dd2['min_fatti_subiti_floor'] = dd2['min_fatti_subiti'].apply(floor)

In [784]:
dd3 = dd2[dd2.min_fatti_subiti_floor>1]
dd3[['competition','home_team','away_team',\
     'min_fatti_subiti_floor','min_fatti_subiti',\
    'min_goal_fatti_away_subiti_home','min_goal_fatti_home_subiti_away',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_floor','min_fatti_subiti'], ascending=False).head(100)

,competition,home_team,away_team,min_fatti_subiti_floor,min_fatti_subiti,min_goal_fatti_away_subiti_home,min_goal_fatti_home_subiti_away,n_matches_home,n_matches_away
4,Bundesliga,Mainz,Bayern Munich,3,3.250000,1.250000,2.000000,4,3
13,La Liga,Valladolid,Girona,3,3.000000,2.000000,1.000000,3,1
18,La Liga,Sevilla,Villarreal,3,3.000000,2.500000,0.500000,2,2
19,Premier League,Arsenal,Southampton,2,2.833333,0.500000,2.333333,2,3
5,Bundesliga,Dortmund,Ein Frankfurt,2,2.750000,0.750000,2.000000,5,4
7,Bundesliga,Leverkusen,RB Leipzig,2,2.750000,1.250000,1.500000,4,3
33,Serie A,Udinese,Cremonese,2,2.750000,1.250000,1.500000,2,4
27,Serie A,Verona,Bologna,2,2.500000,1.500000,1.000000,4,3
32,Serie A,Monza,Fiorentina,2,2.500000,1.000000,1.500000,3,2
11,La Liga,Almeria,Ath Bilbao,2,2.416667,1.666667,0.750000,3,4
24,Premier League,Leicester,Wolves,2,2.416667,1.666667,0.750000,4,3
6,Bundesliga,Freiburg,Schalke 04,2,2.333333,0.666667,1.666667,3,3
21,Premier League,Crystal Palace,Everton,2,2.333333,1.000000,1.333333,2,3
10,La Liga,Osasuna,Betis,2,2.000000,2.000000,0.000000,2,3
14,La Liga,Real Madrid,Celta,2,2.000000,0.333333,1.666667,3,3
17,La Liga,Mallorca,Getafe,2,2.000000,1.500000,0.500000,2,3
25,Premier League,Newcastle,Tottenham,2,2.000000,1.000000,1.000000,2,1
28,Serie A,Salernitana,Sassuolo,2,2.000000,1.000000,1.000000,2,4
34,Serie A,Milan,Lecce,2,2.000000,1.000000,1.000000,1,4

##### Overall

In [788]:
dd2 = next_matches_with_group.merge(n_goal_group_last_matches[n_goal_group_last_matches.team_group=='all'],\
                    left_on=['competition','home_team'],
                    right_on=['competition','main_team']).drop(columns=['team_group'])\
                        .merge(n_goal_group_last_matches[n_goal_group_last_matches.team_group=='all'],\
                    left_on=['competition','away_team'],
                    right_on=['competition','main_team'], suffixes=['_home','_away'])
dd2['min_goal_fatti_home_subiti_away'] = \
            dd2.apply(lambda row: min(row['avg_goal_fatti_home'],row['avg_goal_subiti_away']), axis=1)
dd2['min_goal_fatti_away_subiti_home'] = \
            dd2.apply(lambda row: min(row['avg_goal_fatti_away'],row['avg_goal_subiti_home']), axis=1)
dd2['min_fatti_subiti'] = dd2['min_goal_fatti_home_subiti_away'] + dd2['min_goal_fatti_away_subiti_home']
dd2['min_fatti_subiti_floor'] = dd2['min_fatti_subiti'].apply(floor)

In [789]:
dd3 = dd2[dd2.min_fatti_subiti_floor>1]
dd3[['competition','home_team','away_team',\
     'min_fatti_subiti_floor','min_fatti_subiti',\
    'min_goal_fatti_away_subiti_home','min_goal_fatti_home_subiti_away',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['min_fatti_subiti_floor','min_fatti_subiti'], ascending=False).head(100)

,competition,home_team,away_team,min_fatti_subiti_floor,min_fatti_subiti,min_goal_fatti_away_subiti_home,min_goal_fatti_home_subiti_away,n_matches_home,n_matches_away
18,La Liga,Sevilla,Villarreal,3,3.111111,1.777778,1.333333,9,9
13,La Liga,Valladolid,Girona,2,2.777778,1.777778,1.000000,9,9
3,Bundesliga,Hertha,Werder Bremen,2,2.600000,1.500000,1.100000,10,10
5,Bundesliga,Dortmund,Ein Frankfurt,2,2.600000,1.100000,1.500000,10,10
4,Bundesliga,Mainz,Bayern Munich,2,2.500000,1.100000,1.400000,10,10
22,Premier League,Liverpool,Nott'm Forest,2,2.500000,0.750000,1.750000,8,8
23,Premier League,Brentford,Aston Villa,2,2.500000,1.500000,1.000000,8,8
25,Premier League,Newcastle,Tottenham,2,2.500000,1.125000,1.375000,8,8
11,La Liga,Almeria,Ath Bilbao,2,2.444444,1.444444,1.000000,9,9
0,Bundesliga,Augsburg,Stuttgart,2,2.400000,1.100000,1.300000,10,10
2,Bundesliga,Bochum,Wolfsburg,2,2.400000,1.100000,1.300000,10,10
33,Serie A,Udinese,Cremonese,2,2.400000,1.200000,1.200000,10,10
17,La Liga,Mallorca,Getafe,2,2.333333,1.222222,1.111111,9,9
7,Bundesliga,Leverkusen,RB Leipzig,2,2.300000,1.300000,1.000000,10,10
19,Premier League,Arsenal,Southampton,2,2.250000,0.875000,1.375000,8,8
26,Premier League,Bournemouth,West Ham,2,2.250000,1.125000,1.125000,8,8
9,La Liga,Espanol,Cadiz,2,2.222222,1.000000,1.222222,9,9
28,Serie A,Salernitana,Sassuolo,2,2.200000,1.200000,1.000000,10,10
20,Premier League,Fulham,Leeds,2,2.125000,1.125000,1.000000,7,8
21,Premier League,Crystal Palace,Everton,2,2.125000,0.875000,1.250000,8,8
8,Bundesliga,M'gladbach,Union Berlin,2,2.100000,1.300000,0.800000,10,10
36,Serie A,Atalanta,Roma,2,2.100000,1.100000,1.000000,10,10
14,La Liga,Real Madrid,Celta,2,2.000000,0.888889,1.111111,9,9
24,Premier League,Leicester,Wolves,2,2.000000,1.125000,0.875000,8,8
32,Serie A,Monza,Fiorentina,2,2.000000,1.300000,0.700000,10,10
34,Serie A,Milan,Lecce,2,2.000000,0.700000,1.300000,10,10

### N Goals - UNDER

In [786]:
dd2 = next_matches_with_group.merge(n_goal_group,\
                    left_on=['competition','home_team','team_group_away'],
                    right_on=['competition','main_team','team_group']).drop(columns=['team_group'])\
                        .merge(n_goal_group,\
                    left_on=['competition','away_team','team_group_home'],
                    right_on=['competition','main_team','team_group'], suffixes=['_home','_away'])
dd2['max_goal_fatti_home_subiti_away'] = \
            dd2.apply(lambda row: max(row['avg_goal_fatti_home'],row['avg_goal_subiti_away']), axis=1)
dd2['max_goal_fatti_away_subiti_home'] = \
            dd2.apply(lambda row: max(row['avg_goal_fatti_away'],row['avg_goal_subiti_home']), axis=1)
dd2['max_fatti_subiti'] = dd2['max_goal_fatti_home_subiti_away'] + dd2['max_goal_fatti_away_subiti_home']
dd2['max_fatti_subiti_floor'] = dd2['max_fatti_subiti'].apply(ceil)

#### Group

In [787]:
dd3 = dd2[dd2.max_fatti_subiti_floor < 4]
dd3[['competition','home_team','away_team',\
     'max_fatti_subiti_floor','max_fatti_subiti',\
    'max_goal_fatti_away_subiti_home','max_goal_fatti_home_subiti_away',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['max_fatti_subiti_floor','max_fatti_subiti'], ascending=True)

,competition,home_team,away_team,max_fatti_subiti_floor,max_fatti_subiti,max_goal_fatti_away_subiti_home,max_goal_fatti_home_subiti_away,n_matches_home,n_matches_away
21,Premier League,Crystal Palace,Everton,3,2.375000,0.875000,1.500000,8,11
29,Serie A,Lazio,Torino,3,2.454545,0.636364,1.818182,10,11
32,Serie A,Monza,Fiorentina,3,2.458333,1.333333,1.125000,9,8
17,La Liga,Mallorca,Getafe,3,2.474747,1.363636,1.111111,9,11
27,Serie A,Verona,Bologna,3,2.555556,1.555556,1.000000,11,9
10,La Liga,Osasuna,Betis,3,2.655556,1.555556,1.100000,9,10
25,Premier League,Newcastle,Tottenham,3,2.666667,0.888889,1.777778,8,9
12,La Liga,Sociedad,Vallecano,3,2.700000,1.000000,1.700000,10,9
24,Premier League,Leicester,Wolves,3,2.700000,1.300000,1.400000,10,10
33,Serie A,Udinese,Cremonese,3,2.727273,1.000000,1.727273,8,11
30,Serie A,Sampdoria,Spezia,3,2.750000,1.750000,1.000000,8,7
34,Serie A,Milan,Lecce,3,2.753247,1.181818,1.571429,7,11
36,Serie A,Atalanta,Roma,3,2.777778,1.666667,1.111111,9,9
11,La Liga,Almeria,Ath Bilbao,3,2.800000,2.100000,0.700000,10,10
9,La Liga,Espanol,Cadiz,3,2.857143,1.428571,1.428571,7,8
13,La Liga,Valladolid,Girona,3,2.875000,1.500000,1.375000,10,8
28,Serie A,Salernitana,Sassuolo,3,2.888889,1.777778,1.111111,9,10
35,Serie A,Juventus,Napoli,3,2.933333,1.600000,1.333333,9,10
16,La Liga,Barcelona,Ath Madrid,3,3.000000,0.888889,2.111111,9,9

#### Overall

In [790]:
dd2 = next_matches_with_group.merge(n_goal_group_last_matches[n_goal_group_last_matches.team_group=='all'],\
                    left_on=['competition','home_team'],
                    right_on=['competition','main_team']).drop(columns=['team_group'])\
                        .merge(n_goal_group_last_matches[n_goal_group_last_matches.team_group=='all'],\
                    left_on=['competition','away_team'],
                    right_on=['competition','main_team'], suffixes=['_home','_away'])
dd2['max_goal_fatti_home_subiti_away'] = \
            dd2.apply(lambda row: max(row['avg_goal_fatti_home'],row['avg_goal_subiti_away']), axis=1)
dd2['max_goal_fatti_away_subiti_home'] = \
            dd2.apply(lambda row: max(row['avg_goal_fatti_away'],row['avg_goal_subiti_home']), axis=1)
dd2['max_fatti_subiti'] = dd2['max_goal_fatti_home_subiti_away'] + dd2['max_goal_fatti_away_subiti_home']
dd2['max_fatti_subiti_floor'] = dd2['max_fatti_subiti'].apply(ceil)

In [791]:
dd3 = dd2[dd2.max_fatti_subiti_floor < 4]
dd3[['competition','home_team','away_team',\
     'max_fatti_subiti_floor','max_fatti_subiti',\
    'max_goal_fatti_away_subiti_home','max_goal_fatti_home_subiti_away',\
     'n_matches_home','n_matches_away']]\
    .sort_values(['max_fatti_subiti_floor','max_fatti_subiti'], ascending=True)

,competition,home_team,away_team,max_fatti_subiti_floor,max_fatti_subiti,max_goal_fatti_away_subiti_home,max_goal_fatti_home_subiti_away,n_matches_home,n_matches_away
27,Serie A,Verona,Bologna,3,2.100000,1.400000,0.700000,10,10
12,La Liga,Sociedad,Vallecano,3,2.111111,0.888889,1.222222,9,9
31,Serie A,Empoli,Inter,3,2.200000,1.400000,0.800000,10,10
36,Serie A,Atalanta,Roma,3,2.400000,1.400000,1.000000,10,10
32,Serie A,Monza,Fiorentina,3,2.400000,1.300000,1.100000,10,10
17,La Liga,Mallorca,Getafe,3,2.444444,1.333333,1.111111,9,9
6,Bundesliga,Freiburg,Schalke 04,3,2.500000,1.200000,1.300000,10,10
34,Serie A,Milan,Lecce,3,2.500000,1.200000,1.300000,10,10
29,Serie A,Lazio,Torino,3,2.600000,1.100000,1.500000,10,10
21,Premier League,Crystal Palace,Everton,3,2.625000,1.250000,1.375000,8,8
8,Bundesliga,M'gladbach,Union Berlin,3,2.800000,1.600000,1.200000,10,10
24,Premier League,Leicester,Wolves,3,2.875000,1.625000,1.250000,8,8
10,La Liga,Osasuna,Betis,3,2.900000,1.400000,1.500000,9,10
22,Premier League,Liverpool,Nott'm Forest,3,3.000000,0.875000,2.125000,8,8
23,Premier League,Brentford,Aston Villa,3,3.000000,1.750000,1.250000,8,8